PU/XML/Schemas/CheckPfr/2015/РСВ/РСВ-1/Р6_РСВ-1_2015.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" >
	<xs:annotation>
		<xs:documentation>Раздел 6 РСВ-1 с 2014</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../../Типы.XSD"/>
	<xs:include schemaLocation="../../ТипыПачки.XSD"/>
	<xs:include schemaLocation="ТипыСВЕДЕНИЯ_ПО_ПАЧКЕ_ДОКУМЕНТОВ_РАЗДЕЛА_6.XSD"/>
	<xs:include schemaLocation="ТипыРаздел6_РСВ1_2015.XSD"/>

	<xs:element name="ФайлПФР">
		<xs:annotation>
			<xs:documentation>Корневой элемент</xs:documentation>
			<xs:appinfo>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ИмяФайла">
					<xs:annotation>
						<xs:documentation>Имя файла</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="ТипИмяФайла"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ЗаголовокФайла" type="ТипЗаголовокФайла">
					<xs:annotation>
						<xs:documentation>Заголовок файла</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ПачкаВходящихДокументов">
					<xs:annotation>
						<xs:documentation>Пачка входящих документов</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СВЕДЕНИЯ_ПО_ПАЧКЕ_ДОКУМЕНТОВ_РАЗДЕЛА_6" type="ТипСВЕДЕНИЯ_ПО_ПАЧКЕ_ДОКУМЕНТОВ_РАЗДЕЛА_6">
								<xs:annotation>
									<xs:documentation>Сведения по пачке документов «Сведения о сумме выплат и иных вознаграждений и страховом стаже застрахованного лица» раздела 6 РСВ-1</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СВЕДЕНИЯ_О_СУММЕ_ВЫПЛАТ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о сумме выплат и иных вознаграждений и страховом стаже застрахованного лица</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="НомерВпачке">
											<xs:annotation>
												<xs:documentation>Номер в пачке</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="201"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:group ref="ГрСведенияОбщие">
											<xs:annotation>
												<xs:documentation>Тип сведений и регистрационный номер в ПФР</xs:documentation>
											</xs:annotation>
										</xs:group>
										<xs:group ref="ГрСведенияЗЛc2015">
											<xs:annotation>
												<xs:documentation>6.1. Сведения о застрахованном лице</xs:documentation>
											</xs:annotation>
										</xs:group>
										<xs:group ref="ГрСведенияОтчетныйПериодИкоррПериод">
											<xs:annotation>
												<xs:documentation>6.2. Отчетный период, 6.3. Тип корректировки сведений</xs:documentation>
											</xs:annotation>
										</xs:group>
										<xs:element name="СведенияОсуммеВыплатИвознагражденийВпользуЗЛ" minOccurs="0" maxOccurs="unbounded" type="ТипСведенияОсуммеВыплатИвознагражденийВпользуЗЛ">
											<xs:annotation>
												<xs:documentation>Сведения о сумме выплат и иных вознаграждений, начисленных в пользу физического лица</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СуммаВзносовНаОПС" minOccurs="0" type="ТипДеньги">
											<xs:annotation>
												<xs:documentation>Сумма страховых взносов на ОПС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведенияОкорректировках" maxOccurs="unbounded" minOccurs="0" type="ТипСведенияОкорректировках">
										</xs:element>
										<xs:element name="СведенияОсуммеВыплатИвознагражденийПоДопТарифу" type="ТипСведенияОсуммеВыплатИвознагражденийПоДопТарифу" minOccurs="0" maxOccurs="unbounded">
										</xs:element>
										<xs:element name="СтажевыйПериод" minOccurs="0" type="ТипСтажевыйПериод14" maxOccurs="99">
											<xs:annotation>
												<xs:documentation>Период работы за последние три месяца отчетного периода</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ДатаЗаполнения" type="ТипДата">
											<xs:annotation>
												<xs:documentation>Дата заполнения</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Окружение" use="required" fixed="В составе файла">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Единичный запрос"/>
									<xs:enumeration value="В составе файла"/>
									<xs:enumeration value="В составе выписки"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Стадия" use="optional" fixed="До обработки">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="До обработки"/>
									<xs:enumeration value="После обработки"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
					<xs:unique name="УникальныйСтраховойНомер">
						<xs:selector xpath="СВЕДЕНИЯ_О_СУММЕ_ВЫПЛАТ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ_2015"/>
						<xs:field xpath="СтраховойНомер"/>
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>