PU/XML/Schemas/CheckPfr/2015/РСВ/РСВ-1/РСВ-1_2015.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Sauronix (Branch of the  Pension Fund of the Russian Federation on  Republic Bashkortostan) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>–—¬-1 с 2014</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../../“ипы.XSD"/>
	<xs:include schemaLocation="../../“ипыѕачки.XSD"/>
	<xs:include schemaLocation="“ипы–—¬2015.XSD"/>
	<xs:element name="‘айлѕ‘–">
		<xs:annotation>
			<xs:documentation> орневой элемент</xs:documentation>
			<xs:appinfo>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="»м€‘айла">
					<xs:annotation>
						<xs:documentation>»м€ файла</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="“ип»м€‘айла"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="«аголовок‘айла" type="“ип«аголовок‘айла">
					<xs:annotation>
						<xs:documentation>«аголовок файла</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ѕачка¬ход€щихƒокументов">
					<xs:annotation>
						<xs:documentation>ѕачка вход€щих документов</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="–ј—„≈“_ѕќ_—“–ј’ќ¬џћ_¬«Ќќ—јћ_Ќј_ќѕ—_»_ќћ—_ѕЋј“≈Ћ№ў» јћ»_ѕ–ќ»«¬ќƒяў»ћ»_¬џѕЋј“џ_‘Ћ_2015" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>–асчет по начисленным и уплаченным страховым взносам на об€зательное пенсионное страхование в ѕенсионный фонд –оссийской ‘едерации, страховым взносам на об€зательное медицинское страхование в ‘едеральный фонд об€зательного медицинского страховани€ плательщиками страховых взносов, производ€щими выплаты и иные вознаграждени€ физическим лицам</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Ќомер¬пачке">
											<xs:annotation>
												<xs:documentation>Ќомер документа в пачке</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:group ref="√руппа“итул–—¬">
											<xs:annotation>
												<xs:documentation>√руппа элементов, соответствующа€ титульному листу –асчета по начисленным и уплаченным страховым взносам</xs:documentation>
											</xs:annotation>
										</xs:group>
										<xs:element name="ѕравоЌаѕониженный“ариф" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ѕриобретение/утрата права на применение пониженного тарифа. «аполн€етс€ при представлении –асчета за отчетный период, в котором приобретено или утрачено право на применение пониженного тарифа. ¬ случае приобретени€ права на применение пониженного тарифа в поле проставл€етс€ буква Ђѕї, в случае утраты права на применение проставл€етс€ буква Ђ”ї</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:normalizedString">
													<xs:maxLength value="1"/>
													<xs:enumeration value="ѕ"/>
													<xs:enumeration value="”"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="–аздел1–асчетѕоЌачисленным”плаченным2015">
											<xs:annotation>
												<xs:documentation>–аздел 1. –асчет по начисленным и уплаченным страховым взносам</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ќстаток«адолженностиЌаЌачало–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным»”плаченным2015" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ќстаток страховых взносов, подлежащих уплате на начало расчетного периода (+) задолженность, (-) переплата. —трока 100</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Ќачислено—начала–асчетногоѕериода2014">
														<xs:annotation>
															<xs:documentation>Ќачислено страховых взносов с начала расчетного периода. —троки 110-114</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="¬сего—начала–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным2015">
																	<xs:annotation>
																		<xs:documentation>¬сего с начала расчетного периода. —трока 110</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€ца1с2014" type="“ип–асчетѕоЌачисленным2015">
																	<xs:annotation>
																		<xs:documentation>¬ т.ч. за последние три мес€ца 1 мес€ц. —трока 111</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€ца2с2014" type="“ип–асчетѕоЌачисленным2015">
																	<xs:annotation>
																		<xs:documentation>¬ т.ч. за последние три мес€ца 2 мес€ц. —трока 112</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€ца3с2014" type="“ип–асчетѕоЌачисленным2015">
																	<xs:annotation>
																		<xs:documentation>¬ т.ч. за последние три мес€ца 3 мес€ц. —трока 113</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€ца»того2014" type="“ип–асчетѕоЌачисленным2015">
																	<xs:annotation>
																		<xs:documentation>»того подлежит уплате за последние 3 мес€ца (с. 111 + с. 112 + с. 113)</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ƒоначислено—начала–асчетногоѕериода2014всего" type="“ип–асчетѕоЌачисленным»”плаченным2015" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ƒоначислено страховых взносов с начала расчетного периода, всего. —трока 120</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ƒоначислено—начала–асчетногоѕериода2014превышающие" type="“ипƒоначислено—траховых¬зносов—начала–асчетногоѕериода—суммѕревышающихЅазу" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ƒоначислено страховых взносов с начала расчетного периода, в том числе с сумм, превышающих предельную базу. —трока 121</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ƒоначислено¬последние“рићес€ца">
														<xs:annotation>
															<xs:documentation>ƒоначислено страховых взносов в последние 3 мес€ца отчетного периода. —троки 122-123</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ѕоследние“рићес€ца¬сего" type="“ип–асчетѕоЌачисленным»”плаченным2015">
																	<xs:annotation>
																		<xs:documentation>¬ последние 3 мес€ца (из стр.120) всего. —трока 122</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€цаѕревышающие" type="“ипƒоначислено—траховых¬зносов—начала–асчетногоѕериода—суммѕревышающихЅазу">
																	<xs:annotation>
																		<xs:documentation>¬ т.ч.,с сумм, превышающих предельную величину базы дл€ начислени€ страховых взносов (из стр.121). —трока 123</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="¬сего уплате2014" type="“ип–асчетѕоЌачисленным»”плаченным2015">
														<xs:annotation>
															<xs:documentation>¬сего к уплате (с. 100 + с. 110 + с. 120). —трока 130</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="”плачено—начала–асчетногоѕериода2014">
														<xs:annotation>
															<xs:documentation>”плачено с начала расчетного периода. —троки 140-144. ѕо сравнению с 2014 г изменились наименовани€ граф 6 и 7</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="¬сего—начала–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным»”плаченным2015">
																	<xs:annotation>
																		<xs:documentation>¬сего с начала расчетного периода. —трока 140</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€ца1с2014" type="“ип–асчетѕоЌачисленным»”плаченным2015">
																	<xs:annotation>
																		<xs:documentation>¬ т.ч. за последние три мес€ца 1 мес€ц. —трока 141</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€ца2с2014" type="“ип–асчетѕоЌачисленным»”плаченным2015">
																	<xs:annotation>
																		<xs:documentation>¬ т.ч. за последние три мес€ца 2 мес€ц. —трока 142</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€ца3с2014" type="“ип–асчетѕоЌачисленным»”плаченным2015">
																	<xs:annotation>
																		<xs:documentation>¬ т.ч. за последние три мес€ца 3 мес€ц. —трока 143</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ѕоследние“рићес€ца»того2014" type="“ип–асчетѕоЌачисленным»”плаченным2015">
																	<xs:annotation>
																		<xs:documentation>¬ т.ч. за последние три мес€ца итого. —трока 144</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ќстаток«адолженностиЌа онец–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным»”плаченным2015">
														<xs:annotation>
															<xs:documentation>ќстаток страховых взносов, подлежащих уплате на конец расчетного периода. —трока 150</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="–аздел2–асчетѕо“арифу»доп“арифу">
											<xs:annotation>
												<xs:documentation>–аздел 2. –асчет страховых взносов по тарифу и дополнительному тарифу</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="–аздел_2_1" type="“ип–асчет—траховых¬зносовѕо“арифу2015" maxOccurs="19">
														<xs:annotation>
															<xs:documentation>–аздел 2.1. –асчет страховых взносов по тарифу. ѕредставл€етс€ плательщиками страховых взносов отдельно по каждому тарифу, примен€емому в отношении выплат застрахованным лицам.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="–аздел_2_2" type="“ип–асчетЌачисленных—траховых¬зносовѕоƒоп“арифу2014" minOccurs="0">
														<xs:annotation>
															<xs:documentation>–аздел 2.2 –асчет страховых взносов по дополнительному тарифу дл€ отдельных категорий плательщиков (часть 1 статьи 58.3 212-‘«)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="–аздел_2_3" type="“ип–асчетЌачисленных—траховых¬зносовѕоƒоп“арифу2014" minOccurs="0">
														<xs:annotation>
															<xs:documentation>–аздел 2.3 –асчет страховых взносов по дополнительному тарифу дл€ отдельных категорий плательщиков (часть 2 статьи 58.3 212-‘«)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="–аздел_2_4" type="“ип–—¬ѕоƒоп“арифуќтд атегории„21" minOccurs="0" maxOccurs="6">
														<xs:annotation>
															<xs:documentation>–аздел 2.4 –асчет страховых взносов по дополнительному тарифу дл€ отдельных категорий плательщиков (часть 2.1 статьи 58.3 212-‘«)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="–аздел_2_5" type="“ип—ведени€ѕоѕачкамƒокументов–—¬зл" minOccurs="0">
														<xs:annotation>
															<xs:documentation>–аздел 2.5 —ведени€ по пачкам документов, содержащих расчет сумм начисленных страховых взносов в отношении застрахованных лиц (перечень пачек документов раздела 6)</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="–аздел3–асчетЌаѕравоѕрименени€ѕониженного“арифа2015" minOccurs="0">
											<xs:annotation>
												<xs:documentation>–аздел 3. –асчет соответстви€ условий на право применени€ пониженного тарифа дл€ уплаты страховых взносов</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="–аздел3_1_ƒл€ќрганизаций»“" type="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониж“арифа" minOccurs="0">
														<xs:annotation>
															<xs:documentation>–аздел 3.1. ƒл€ организаций, осуществл€ющих де€тельность в области информационных технологий</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="–аздел3_2_ƒл€ќрганизацийѕримен€ющих”—Ќ" type="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониж“арифаќтд атегори€миѕлательщиков”—Ќ" minOccurs="0">
														<xs:annotation>
															<xs:documentation>–аздел 3.2. ƒл€ организаций и индивидуальных предпринимателей, примен€ющих упрощенную систему налогообложени€</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="–аздел3_3_ƒл€Ќекоммерческихќрганизацийѕримен€ющих”—Ќ" type="“ипƒл€Ќекоммерческихќрганизацийѕримен€ющих”—Ќ" minOccurs="0">
														<xs:annotation>
															<xs:documentation>–аздел 3.3. ƒл€ некоммерческих организаций, примен€ющих упрощенную систему налогообложени€</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="–аздел4—уммыƒоначисленных—траховых¬зносовѕоследние“рићес€ца" type="“ип–аздел—уммыƒоначисленных—траховых¬зносов" minOccurs="0">
											<xs:annotation>
												<xs:documentation>–аздел 4. —уммы доначисленных страховых взносов в последние три мес€ца отчетного периода</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="–аздел5—ведени€ќ¬ыплатах¬пользуќбучающихс€2014" type="“ип–аздел5—ведени€ќ¬ыплатах¬пользуќбучающихс€2014" minOccurs="0">
											<xs:annotation>
												<xs:documentation>–аздел 5. —ведени€, представл€емые организаци€ми, осуществл€ющими выплаты и иные вознаграждени€ в пользу обучающихс€ за де€тельность, осуществл€емую в студенческом отр€де</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Ћицоѕодтверждающее—ведени€">
											<xs:annotation>
												<xs:documentation>Ћицо, подтверждающее достоверность и полноту сведений. «начение элемента может принимать следующие значени€: 1 Ц плательщик страховых взносов, 2 Ц представитель плательщика страховых взносов, 3 Ц правопреемник</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:unsignedInt">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="3"/>
													<xs:totalDigits value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="‘»ќлицаѕодтверждающего—ведени€" type="“ип‘»ќ">
											<xs:annotation>
												<xs:documentation>‘»ќ лица, подтверждающего сведени€</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Ќаименованиеќрганизацииѕредставител€" type="“ипЌаименованиеќрганизации" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Ќаименование организации представител€ плательщика страховых взносов. Ёлемент присутствует в случае заполнени€ расчета представителем плательщика (правопреемника)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ƒокументѕодтверждающийѕолномочи€ѕредставител€" type="“ипƒокумент" minOccurs="0">
											<xs:annotation>
												<xs:documentation>ƒокумент, подтверждающий полномочи€ представител€</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ƒата«аполнени€" type="“ипƒата">
											<xs:annotation>
												<xs:documentation>ƒата заполнени€</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="ќкружение" use="required" fixed="≈диничный запрос">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="≈диничный запрос"/>
									<xs:enumeration value="¬ составе файла"/>
									<xs:enumeration value="¬ составе выписки"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="—тади€" use="optional" fixed="ƒо обработки">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ƒо обработки"/>
									<xs:enumeration value="ѕосле обработки"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
