PU/XML/Schemas/CheckPfr/2015/РСВ/РСВ-1/ТипыРаздел6_РСВ1_2014.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<xs:schema version="1.0"  elementFormDefault="qualified"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../../“ипы.XSD"/>
	<xs:include schemaLocation="../../¬ход€щие/“ипы»Ќƒ—.XSD"/>
	<xs:include schemaLocation="../../¬ход€щие/“ипы—ѕ¬.XSD"/>
	<xs:complexType name="“ип—¬≈ƒ≈Ќ»я_ќ_—”ћћ≈_¬џѕЋј“_»_—“–ј’ќ¬ќћ_—“ј∆≈_«Ћ">
		<xs:sequence>
			<xs:element name="Ќомер¬пачке">
				<xs:annotation>
					<xs:documentation>Ќомер в пачке</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="201"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:group ref="√р—ведени€ќбщие">
				<xs:annotation>
					<xs:documentation>“ип сведений и регистрационный номер в ѕ‘–</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:group ref="√р—ведени€«Ћ">
				<xs:annotation>
					<xs:documentation>6.1. —ведени€ о застрахованном лице</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:group ref="√р—ведени€ќтчетныйѕериод»коррѕериод">
				<xs:annotation>
					<xs:documentation>6.2. ќтчетный период, 6.3. “ип корректировки сведений</xs:documentation>
				</xs:annotation>
			</xs:group>
			<xs:element name="—ведени€ќсумме¬ыплат»вознаграждений¬пользу«Ћ" minOccurs="0" maxOccurs="unbounded" type="“ип—ведени€ќсумме¬ыплат»вознаграждений¬пользу«Ћ">
				<xs:annotation>
					<xs:documentation>—ведени€ о сумме выплат и иных вознаграждений, начисленных в пользу физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—умма¬зносовЌаќѕ—" minOccurs="0" type="“ипƒеньги">
				<xs:annotation>
					<xs:documentation>—умма страховых взносов на ќѕ—</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—ведени€ќкорректировках" maxOccurs="unbounded" minOccurs="0" type="“ип—ведени€ќкорректировках">
			</xs:element>
			<xs:element name="—ведени€ќсумме¬ыплат»вознагражденийѕоƒоп“арифу" type="“ип—ведени€ќсумме¬ыплат»вознагражденийѕоƒоп“арифу" minOccurs="0" maxOccurs="unbounded">
			</xs:element>
			<xs:element name="—тажевыйѕериод" minOccurs="0" type="“ип—тажевыйѕериод14" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>ѕериод работы за последние три мес€ца отчетного периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ƒата«аполнени€" type="“ипƒата">
				<xs:annotation>
					<xs:documentation>ƒата заполнени€</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип—ведени€ќкорректировках">
		<xs:annotation>
			<xs:documentation>»нформаци€ о корректирующих сведени€х</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Ќомер—троки" type="“ипЌомер—троки">
				<xs:annotation>
					<xs:documentation>Ќомер строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="“ип—троки" type="“ип“ип—троки">
				<xs:annotation>
					<xs:documentation>“ип строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name=" вартал" minOccurs="0">
				<xs:annotation>
					<xs:documentation> од отчетного периода</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="1"/>
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="√од" minOccurs="0">
				<xs:annotation>
					<xs:documentation>√од</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="“ип√од">
						<xs:minInclusive value="2010"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="—уммаƒоначисленных¬зносовќѕ—" minOccurs="0" type="“ипƒеньги">
				<xs:annotation>
					<xs:documentation>—умма доначисленных страховых взносов на ќѕ— на базу, не превышающую предельную</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—уммаƒоначисленных¬зносовЌа—траховую" minOccurs="0" type="“ипƒеньги">
				<xs:annotation>
					<xs:documentation>—умма доначисленных страховых взносов на страховую часть на базу, не превышающую предельную</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—уммаƒоначисленных¬зносовЌаЌакопительную" minOccurs="0" type="“ипƒеньги">
				<xs:annotation>
					<xs:documentation>—умма доначисленных страховых взносов на накопительную часть на базу, не превышающую предельную</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="“ип—ведени€ќсумме¬ыплат»вознагражденийѕоƒоп“арифу">
		<xs:annotation>
			<xs:documentation>—ведени€ о сумме выплат и иных вознаграждений по дополнительному тарифу</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="Ќомер—троки" type="“ипЌомер—троки">
				<xs:annotation>
					<xs:documentation>Ќомер строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="“ип—троки" type="“ип“ип—троки">
				<xs:annotation>
					<xs:documentation>“ип строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ћес€ц" minOccurs="0" type="“ипћес€ц">
				<xs:annotation>
					<xs:documentation>ћес€ц</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name=" од—троки">
				<xs:annotation>
					<xs:documentation> од строки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="“ип од—троки">
						<xs:minInclusive value="700"/>
						<xs:maxInclusive value="799"/>
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name=" од—пециальнойќценки”словий“руда" type="“ип од—пециальнойќценки”словий“руда">
				<xs:annotation>
					<xs:documentation> од специальной оценки условий труда</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—умма¬ыплатѕоƒоп“арифу27-1" type="“ипƒеньги" minOccurs="0">
				<xs:annotation>
					<xs:documentation>—умма выплат «Ћ, зан€тому на работах с вредными услови€ми труда (27-1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—умма¬ыплатѕоƒоп“арифу27-2-18" type="“ипƒеньги" minOccurs="0">
				<xs:annotation>
					<xs:documentation>—умма выплат «Ћ, зан€тому на работах с особыми услови€ми труда (27-2-18)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="√р—ведени€ќбщие">
		<xs:sequence>
			<xs:element name="“ип—ведений" type="“ип“ип—ведений—ѕ¬">
				<xs:annotation>
					<xs:documentation>“ип сведений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="–егистрационныйЌомер" type="“ип–егЌомер">
				<xs:annotation>
					<xs:documentation>–егистрационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="√р—ведени€«Ћ">
		<xs:annotation>
			<xs:documentation>6.1. —ведени€ о застрахованном лице</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="—траховойЌомер" type="“ип—траховойЌомер">
				<xs:annotation>
					<xs:documentation>—траховой номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="‘»ќ" type="“ип‘»ќ">
				<xs:annotation>
					<xs:documentation>‘амили€, им€, отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="√р—ведени€ќтчетныйѕериод»коррѕериод">
		<xs:annotation>
			<xs:documentation>6.2. ќтчетный период, 6.3. “ип корректировки сведений</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ќтчетныйѕериод" type="“ипќтчетныйѕериод14">
				<xs:annotation>
					<xs:documentation>ќтчетный период</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name=" орректируемыйќтчетныйѕериод" type="“ипќтчетныйѕериод14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>—ведени€ о корректируемом отчетном периоде</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="–егистрационныйЌомер орректируемогоѕериода" type="“ип–егЌомер" minOccurs="0">
				<xs:annotation>
					<xs:documentation>–егистрационный номер в корректируемый период</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="“ип—ведени€ќсумме¬ыплат»вознаграждений¬пользу«Ћ">
		<xs:sequence>
			<xs:sequence>
				<xs:element name="Ќомер—троки" type="“ипЌомер—троки">
					<xs:annotation>
						<xs:documentation>Ќомер строки</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="“ип—троки" type="“ип“ип—троки">
					<xs:annotation>
						<xs:documentation>“ип строки</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ћес€ц" minOccurs="0" type="“ипћес€ц">
					<xs:annotation>
						<xs:documentation>ћес€ц</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name=" од—троки">
					<xs:annotation>
						<xs:documentation> од строки</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="“ип од—троки">
							<xs:minInclusive value="400"/>
							<xs:maxInclusive value="499"/>
							<xs:totalDigits value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name=" од атегории" type="“ип од атегории14">
					<xs:annotation>
						<xs:documentation> од категории</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="—умма¬ыплат»ных¬ознаграждений" type="“ипƒеньги" minOccurs="0">
					<xs:annotation>
						<xs:documentation>—умма выплат и иных вознаграждений</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ќеѕревышающие¬сего" type="“ипƒеньги" minOccurs="0">
					<xs:annotation>
						<xs:documentation>—умма выплат в том числе, не превышающую предельную величину базы дл€ начислени€ страховых взносов: ¬сего</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Ќеѕревышающиеѕоƒоговорам" type="“ипƒеньги" minOccurs="0">
					<xs:annotation>
						<xs:documentation>—умма выплат в том числе, не превышающую предельную величину базы дл€ начислени€ страховых взносов: ¬ том числе по гражданско-правовым договорам</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ѕревышающиеѕредельную" type="“ипƒеньги" minOccurs="0">
					<xs:annotation>
						<xs:documentation>—умма выплат в том числе, превышающую предельную величину базы дл€ начислени€ страховых взносов</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>