PU/XML/Schemas/CheckXml/док_СВЕДЕНИЯ_О_СТРАХОВОМ_СТАЖЕ_ЗЛ_ДЛЯ_УСТАНОВЛЕНИЯ_ПЕНСИИ.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<xsd:schema targetNamespace="http://schema.pfr.ru" elementFormDefault="qualified" version="2.01 от 07.07.2004" xmlns="http://schema.pfr.ru" xmlns:pfr="http://schema.pfr.ru" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="ru">XML-подсхема для проверки СПВ-1</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="Типы.XSD"/>
	<xsd:include schemaLocation="ТипыИНДС.XSD"/>
	<xsd:include schemaLocation="ТипыСПВ.XSD"/>

	<!-- Тип ВхДок-->

	

	<!-- ВходящийДокумент  -->
	<xsd:element name="СВЕДЕНИЯ_О_СТРАХОВОМ_СТАЖЕ_ЗЛ_ДЛЯ_УСТАНОВЛЕНИЯ_ПЕНСИИ">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="НомерВпачке">
					<xsd:simpleType>
						<xsd:restriction base="xsd:integer">
							<xsd:minInclusive value="1"/>
							<xsd:maxInclusive value="32001"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ТипСведений" type="pfr:ТипТипСведенийСПВ">
				</xsd:element>
				<xsd:element name="РегистрационныйНомер" type="pfr:ТипРегНомер"/>
				<xsd:element name="НаименованиеКраткое">
					<xsd:simpleType>
						<xsd:restriction base="xsd:normalizedString">
							<xsd:maxLength value="50"/>
							<xsd:minLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="НалоговыйНомер" type="pfr:ТипНН" minOccurs="0"/>
				<xsd:element name="КодКатегории" type="pfr:ТипКодКатегории14"/>
				<xsd:element name="ОтчетныйПериод" type="pfr:ТипОтчетныйПериод14" maxOccurs="1"/>
				<xsd:element name="КорректируемыйОтчетныйПериод" type="pfr:ТипОтчетныйПериод14" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="СтраховойНомер" type="pfr:ТипСтраховойНомер"/>
				<xsd:element name="ФИО" type="pfr:ТипФИОН"/>
				<xsd:element name="ДатаЗаполнения" type="pfr:ТипДата"/>
				<xsd:element name="ДатаСоставленияНа" type="pfr:ТипДата" minOccurs="1"/>
				<xsd:element name="СтажевыйПериод" minOccurs="0" type="pfr:ТипСтажевыйПериод14" maxOccurs="99"/>
				<xsd:element name="ПризнакНачисленияВзносовОПС" type="pfr:ТипПризнакУплаты" minOccurs="0"/>
				<xsd:element name="ПризнакНачисленияВзносовПоДопТарифу" type="pfr:ТипПризнакУплаты" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
