PU/XML/Schemas/CheckXml/опись_СВЕДЕНИЯ_О_СУММЕ_ВЫПЛАТ_О_СТРАХОВЫХ_ВЗНОСАХ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<xsd:schema xmlns="http://schema.pfr.ru" xmlns:pfr="http://schema.pfr.ru" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.pfr.ru" elementFormDefault="qualified" version="2.01 îò 07.07.2004">
	<xsd:include schemaLocation="Òèïû.XSD"/>
	<xsd:include schemaLocation="ÒèïûÈÍÄÑ.XSD" />
	<xsd:include schemaLocation="ÒèïûÑÏÂ.XSD" />

	<xsd:element name="ÂÕÎÄßÙÀß_ÎÏÈÑÜ_ÏÎ_ÑÓÌÌÀÌ_ÂÛÏËÀÒ_È_ÏÎ_ÑÒÐÀÕÎÂÛÌ_ÂÇÍÎÑÀÌ">
	    <xsd:complexType>
	        <xsd:sequence>
	            <xsd:element name="ÍîìåðÂïà÷êå">
	                <xsd:simpleType>
	                    <xsd:restriction base="xsd:integer">
	                        <xsd:enumeration value="1"/>
	                        <xsd:totalDigits value="1"/>
	                    </xsd:restriction>
	                </xsd:simpleType>
	            </xsd:element>
	            <xsd:any namespace="##any" processContents="skip"/>
	            <xsd:any namespace="##any" processContents="skip"/>
	            <xsd:any namespace="##any" processContents="skip"/>
	            <xsd:element name="ÑîñòàâÄîêóìåíòîâ">
	                <xsd:complexType>
	                    <xsd:sequence>
	                        <xsd:element name="Êîëè÷åñòâî">
	                            <xsd:simpleType>
	                                <xsd:restriction base="xsd:integer">
	                                    <xsd:enumeration value="1"/>
	                                </xsd:restriction>
	                            </xsd:simpleType>
	                        </xsd:element>
	                        <xsd:element name="Íàëè÷èåÄîêóìåíòîâ">
	                            <xsd:complexType>
	                                <xsd:sequence>
	                                    <xsd:element name="ÒèïÄîêóìåíòà">
	                                        <xsd:simpleType>
	                                            <xsd:restriction base="xsd:string">
	                                                <xsd:enumeration value="ÑÂÅÄÅÍÈß_Î_ÑÓÌÌÅ_ÂÛÏËÀÒ_Î_ÑÒÐÀÕÎÂÛÕ_ÂÇÍÎÑÀÕ_È_ÑÒÐÀÕÎÂÎÌ_ÑÒÀÆÅ_ÇË"/>
	                                            </xsd:restriction>
	                                        </xsd:simpleType>
	                                    </xsd:element>
	                                    <xsd:element name="Êîëè÷åñòâî">
	                                        <xsd:simpleType>
	                                            <xsd:restriction base="xsd:positiveInteger">
	                                                <xsd:maxInclusive value="200"/>
	                                            </xsd:restriction>
	                                        </xsd:simpleType>
	                                    </xsd:element>
	                                </xsd:sequence>
	                                <xsd:attribute name="Âàðèàíò" type="xsd:string"/>
	                            </xsd:complexType>
	                        </xsd:element>
	                    </xsd:sequence>
	                </xsd:complexType>
	            </xsd:element>
	            <xsd:element name="ÄàòàÑîñòàâëåíèÿ" type="ÒèïÄàòà"/>
	            <xsd:element name="ÒèïÑâåäåíèé" type="pfr:ÒèïÒèïÑâåäåíèéÑÏÂ">
	            </xsd:element>
	            <xsd:element name="ÊîäÊàòåãîðèè" minOccurs="1" type="pfr:ÒèïÊîäÊàòåãîðèèÑÏÂ">
	            </xsd:element>
	            <xsd:element name="Îò÷åòíûéÏåðèîä" type="pfr:ÒèïÎò÷åòíûéÏåðèîäÎáùèé"/>
	            <xsd:element name="ÊîððåêòèðóåìûéÎò÷åòíûéÏåðèîä" type="pfr:ÒèïÎò÷åòíûéÏåðèîä13" minOccurs="0"/>
	            <xsd:element name="ÒèïÄîãîâîðà" type="pfr:ÒèïÒèïÄîãîâîðà">
	            </xsd:element>
	            <xsd:element name="ÑóììàÂûïëàòÈâîçíàãðàæäåíèéÂïîëüçóÇË" type="pfr:ÒèïÑóììàÂûïëàòÈâîçíàãðàæäåíèéÂïîëüçóÇË" minOccurs="0">
	            </xsd:element>
	            <xsd:element name="ÑóììàÂçíîñîâÍàÑòðàõîâóþ" type="pfr:ÒèïÑóììàÂçíîñîâÍà×àñòüÏåíñèè" minOccurs="0"/>
	            <xsd:element name="ÑóììàÂçíîñîâÍàÍàêîïèòåëüíóþ" minOccurs="0" type="pfr:ÒèïÑóììàÂçíîñîâÍà×àñòüÏåíñèè"/>
	        </xsd:sequence>
	    </xsd:complexType>
	</xsd:element>
</xsd:schema>
