PU/XML/Schemas/CheckXml/ТипыИНДС.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xsd:schema targetNamespace="http://schema.pfr.ru" elementFormDefault="qualified" version="2.01 îò 07.07.2004" xmlns="http://schema.pfr.ru" xmlns:pfr="http://schema.pfr.ru" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="ru">XML-ïîäñõåìà äëÿ ïðîâåðêè äîêóìåíòîâ - Òèïû äàííûõ äëÿ ÑÇÂ-4 </xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="Òèïû.XSD"/>
	<!--Òèï Òàðèô -->
	<xsd:complexType name="ÒèïÒàðèô">
		<xsd:sequence>
			<xsd:element name="ÊîäÊàòåãîðèè" minOccurs="1">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:minLength value="1"/>
			            <xsd:maxLength value="4"/>
						<xsd:enumeration value="ÍÐ"/>
						<xsd:enumeration value="ÑÕ"/>
						<xsd:enumeration value="ÑÄÏ"/>
						<xsd:enumeration value="ÄÏ"/>
						<xsd:enumeration value="ÁÅÇÐ"/>
			        </xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
			<xsd:element name="ÊîäÄîïîëíèòåëüíîãîÒàðèôà" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:maxLength value="4"/>
						<xsd:enumeration value="ÀÂÈÀ"/>
						<xsd:enumeration value=""/>
			        </xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
			<xsd:element name="ÍàçâàíèåÊàòåãîðèè" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:maxLength value="20"/>
			            <xsd:enumeration value="ÍÀÅÌ/ÐÀÁÎÒÍÈÊ"/>
			            <xsd:enumeration value="Ñ/Õ ÏÐÅÄÏÐÈßÒÈÅ"/>
			            <xsd:enumeration value="Ñ/Õ ÎÐÃÀÍÈÇÀÖÈß"/>
			            <xsd:enumeration value="ÑÒÀÆ/ÄÎÁÐÎÂ/ÏÐÀÂÎÎÒÍ"/>
			            <xsd:enumeration value="ÄÎÁÐÎÂ/ÏÐÀÂÎÎÒÍ"/>
			            <xsd:enumeration value="ÁÅÇÐÀÁÎÒÍÛÉ"/>
			            <xsd:enumeration value=""/>
			        </xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
			<xsd:element name="ÍàçâàíèåÄîïîëíèòåëüíîãîÒàðèôà" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:maxLength value="20"/>
			            <xsd:enumeration value="×ËÅÍ ËÝÂÑ"/>
			            <xsd:enumeration value=""/>
					</xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<!-- Òèï Âçíîñû   -->
	<xsd:complexType name="ÒèïÑòðàõîâûåÂçíîñû">
		<xsd:sequence maxOccurs="1" minOccurs="0">
			<xsd:element name="Ñòðàõîâûå" type="pfr:ÒèïÄåíüãè" minOccurs="0">
			</xsd:element>
			<xsd:element name="Íàêîïèòåëüíûå" type="pfr:ÒèïÄåíüãè" minOccurs="0">
			</xsd:element>
			<xsd:element name="Äîïîëíèòåëüíûå" type="pfr:ÒèïÄåíüãè" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Òèï ÂûðàáîòêàÊàëåíäàðíàÿ  -->
	<xsd:complexType name="ÒèïÂûðàáîòêàÊàëåíäàðíàÿ">
		<xsd:sequence minOccurs="0">
			<xsd:element name="ÂñåÃîäû" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="99"/>
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ÂñåÌåñÿöû" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="12"/>
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ÂñåÄíè" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="29"/>
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Òèï ÂûðàáîòêàÂ÷àñàõ  -->
	<xsd:complexType name="ÒèïÂûðàáîòêàÂ÷àñàõ">
		<xsd:sequence>
			<xsd:element name="×àñû" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"/>
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Ìèíóòû" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="59"/>
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Òèï ÒåððèòîðèàëüíûåÓñëîâèÿ  -->
	<xsd:complexType name="ÒèïÒåððèòîðèàëüíûåÓñëîâèÿ">
		<xsd:sequence>
			<xsd:element name="ÎñíîâàíèåÒÓ">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:maxLength value="3"/>
			            <xsd:enumeration value="ÐÊÑ"/>
			            <xsd:enumeration value="ÌÊÑ"/>
			            <xsd:enumeration value="×31"/>
			            <xsd:enumeration value="×33"/>
			            <xsd:enumeration value="×34"/>
			            <xsd:enumeration value="×35"/>
			            <xsd:enumeration value="×36"/>
			            <xsd:enumeration value=""/>
			        </xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
			<xsd:element name="Êîýôôèöèåíò" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2"/>
						<xsd:totalDigits value="3"/>
						<xsd:minInclusive value="0.00"/>
						<xsd:maxInclusive value="2.00"/>
				        <xsd:pattern value="\d{1}\.\d{2}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Òèï ÎñîáûåÓñëîâèÿÒðóäà  -->
	<xsd:complexType name="ÒèïÎñîáûåÓñëîâèÿÒðóäà">
		<xsd:sequence>
			<xsd:element name="ÎñíîâàíèåÎÓÒ" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:maxLength value="6"/>
			            <xsd:enumeration value="27-1"/>
			            <xsd:enumeration value="27-2"/>
			            <xsd:enumeration value="27-3"/>
			            <xsd:enumeration value="27-4"/>
			            <xsd:enumeration value="27-5"/>
			            <xsd:enumeration value="27-6"/>
			            <xsd:enumeration value="27-7"/>
			            <xsd:enumeration value="27-8"/>
			            <xsd:enumeration value="27-9"/>
			            <xsd:enumeration value="27-10"/>
			            <xsd:enumeration value="28-ÎÑ"/>
			            <xsd:enumeration value="28-ÏÆ"/>
			            <xsd:enumeration value="28-ÑÅÂ"/>
			            <xsd:enumeration value=""/>
			        </xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
			<xsd:element name="ÏîçèöèÿÑïèñêà" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:maxLength value="20"/>
			        </xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Òèï Èñ÷èñëÿåìûéÑòàæ  -->
	<xsd:complexType name="ÒèïÈñ÷èñëÿåìûéÑòàæ">
		<xsd:sequence>
			<xsd:element name="ÎñíîâàíèåÈÑ" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:maxLength value="7"/>
			            <xsd:enumeration value="ÑÅÇÎÍ"/>
			            <xsd:enumeration value="ÓÈÊ104"/>
			            <xsd:enumeration value="ÂÎÄÎËÀÇ"/>
			            <xsd:enumeration value="ËÅÏÐÎ"/>

			            <xsd:enumeration value="ÈÒÊ38"/>
			            <xsd:enumeration value="ÏÎËÅ"/>

			            <xsd:enumeration value=""/>
			        </xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
			<xsd:choice>
			    <xsd:element name="ÂûðàáîòêàÂ÷àñàõ" type="ÒèïÂûðàáîòêàÂ÷àñàõ" minOccurs="0"/>
			    <xsd:element name="ÂûðàáîòêàÊàëåíäàðíàÿ" type="ÒèïÂûðàáîòêàÊàëåíäàðíàÿ" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Òèï ÂûñëóãàËåò  -->
	<xsd:complexType name="ÒèïÂûñëóãàËåò">
		<xsd:sequence>
			<xsd:element name="ÎñíîâàíèåÂË" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:maxLength value="8"/>
			            <xsd:enumeration value="27-11ÃÐ"/>
			            <xsd:enumeration value="27-11ÂÏ"/>
			            <xsd:enumeration value="27-12"/>
			            <xsd:enumeration value="28-ÑÏ"/>
			            <xsd:enumeration value="28-ÏÄ"/>
			            <xsd:enumeration value="28-ÏÄÐÊ"/>
			            <xsd:enumeration value="28-ÃÄ"/>
			            <xsd:enumeration value="28-ÑÌ"/>
			            <xsd:enumeration value="28-ÃÄÕÐ"/>
			            <xsd:enumeration value="28-ÑÌÕÐ"/>

			            <xsd:enumeration value="27-ÑÏ"/>
			            <xsd:enumeration value="27-ÏÄ"/>
			            <xsd:enumeration value="27-ÏÄÐÊ"/>
			            <xsd:enumeration value="27-ÃÄ"/>
			            <xsd:enumeration value="27-ÑÌ"/>
			            <xsd:enumeration value="27-ÃÄÕÐ"/>
			            <xsd:enumeration value="27-ÑÌÕÐ"/>


			            <xsd:enumeration value="ÒÂÎÐ×15"/>
			            <xsd:enumeration value="ÒÂÎÐ×20"/>
			            <xsd:enumeration value="ÒÂÎÐ×25"/>
			            <xsd:enumeration value="ÒÂÎÐ×30"/>
			            <xsd:enumeration value="ÑÀÌÎËÅÒ"/>
			            <xsd:enumeration value="ÑÏÅÖÀÂ"/>
			            <xsd:enumeration value="ÑÏÀÑÀÂ"/>
			            <xsd:enumeration value="Ó×ËÅÒ"/>
			            <xsd:enumeration value="ÂÛÑØÏÈË"/>
			            <xsd:enumeration value="ÍÎÐÌÀÏÐ"/>
			            <xsd:enumeration value="ÍÎÐÌÑÏ"/>
			            <xsd:enumeration value="ÐÅÀÊÒÈÂÍ"/>
			            <xsd:enumeration value="ËÅÒÐÀÁ"/>
			            <xsd:enumeration value="ËÅÒÈÑÏ"/>
			            <xsd:enumeration value="ÎÏÛÒÈÑÏ"/>
			            <xsd:enumeration value="ÈÑÏÊËÑ1"/>
			            <xsd:enumeration value="ÈÒÑÈÑÏ"/>
			            <xsd:enumeration value="ÈÒÑÌÀÂ"/>
			            <xsd:enumeration value="ÈÍÑÏÅÊÒ"/>
			            <xsd:enumeration value="27-14"/>
			            <xsd:enumeration value="27-15"/>

			            <xsd:enumeration value=""/>
					</xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
			<xsd:choice>
			    <xsd:element name="ÂûðàáîòêàÂ÷àñàõ" type="ÒèïÂûðàáîòêàÂ÷àñàõ" minOccurs="0"/>
			    <xsd:element name="ÂûðàáîòêàÊàëåíäàðíàÿ" type="ÒèïÂûðàáîòêàÊàëåíäàðíàÿ" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="ÊîäÈñ÷èñëåíèÿ" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:normalizedString">
			            <xsd:enumeration value=""/>
			            <xsd:enumeration value="463"/>
			            <xsd:enumeration value="1067"/>
			            <xsd:enumeration value="781"/>
			            <xsd:enumeration value="464"/>
			            <xsd:enumeration value="1066"/>
			            <xsd:enumeration value="0"/>
					</xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
			<xsd:element name="ÄîëÿÑòàâêè" minOccurs="0">
			    <xsd:simpleType>
			        <xsd:restriction base="xsd:decimal">
			            <xsd:minInclusive value="0.00"/>
			            <xsd:maxInclusive value="2.00"/>
			            <xsd:fractionDigits value="2"/>
			            <xsd:totalDigits value="3"/>
				        <xsd:pattern value="\d{1}\.\d{2}"/>
			        </xsd:restriction>
			    </xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Òèï ÎñîáåííîñòèÓ÷åòà  -->
	<xsd:complexType name="ÒèïÎñîáåííîñòèÓ÷åòà">
		<xsd:sequence>
			<xsd:element name="ÒåððèòîðèàëüíûåÓñëîâèÿ" type="ÒèïÒåððèòîðèàëüíûåÓñëîâèÿ" minOccurs="0"/>
			<xsd:element name="ÎñîáûåÓñëîâèÿÒðóäà" type="ÒèïÎñîáûåÓñëîâèÿÒðóäà" minOccurs="0"/>
			<xsd:element name="Èñ÷èñëÿåìûéÑòàæ" type="ÒèïÈñ÷èñëÿåìûéÑòàæ" minOccurs="0"/>
			<xsd:element name="ÄåêðåòÄåòè" minOccurs="0" type="pfr:ÒèïÄåêðåòÄåòè"/>
			<xsd:element name="ÂûñëóãàËåò" type="ÒèïÂûñëóãàËåò" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ÒèïÒèïÑâåäåíèé">
	    <xsd:restriction base="xsd:normalizedString">
	        <xsd:maxLength value="15"/>
	        <xsd:enumeration value="ÈÑÕÎÄÍÀß"/>
	        <xsd:enumeration value="ÏÅÍÑÈÎÍÍÀß"/>
	    </xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ÒèïÂèäÊîððåêòèðîâêè">
	    <xsd:restriction base="xsd:normalizedString">
	        <xsd:maxLength value="20"/>
	        <xsd:enumeration value="ÊÎÐÐÅÊÒÈÐÓÞÙÀß"/>
	        <xsd:enumeration value="ÎÒÌÅÍßÞÙÀß"/>
	        <xsd:enumeration value=""/>
	    </xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ÒèïÄåêðåòÄåòè">
	    <xsd:restriction base="xsd:normalizedString">
	        <xsd:enumeration value="ÄÅÊÐÅÒ"/>
	        <xsd:enumeration value="ÄÅÒÈ"/>
	        <xsd:enumeration value="ÄÎÃÎÂÎÐ"/>
	        <xsd:enumeration value="ÓÂÏÅÐÈÎÄ"/>
	        <xsd:enumeration value="ÄËÎÒÏÓÑÊ"/>
	        <xsd:enumeration value="ÀÄÌÈÍÈÑÒ"/>
	        <xsd:enumeration value="ÀÄÌÈÍÈÑÒÐ"/>
	        <xsd:enumeration value=""/>
	    </xsd:restriction>
	</xsd:simpleType>
    <xsd:simpleType name="ÒèïÂèäÄåÿòåëüíîñòè">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:enumeration value="ÐÀÁÎÒÀ"/>
            <xsd:enumeration value="ÄÂÑÒÎ"/>
            <xsd:enumeration value="ÑËÓÆÁÀ"/>
            <xsd:enumeration value="ÐÀÁÇÀÃÐ"/>
            <xsd:enumeration value="ÑËÏÐÈÇ"/>
            <xsd:enumeration value="ÑÎÖÑÒÐÀÕ"/>
            <xsd:enumeration value="ÍÅÐÀÁÌÀÒÜ"/>
            <xsd:enumeration value="ÓÕÎÄ-ÄÅÒÈ"/>
            <xsd:enumeration value="ÓÕÎÄ-ÈÍÂÄ"/>
            <xsd:enumeration value="ÒÐÓÄËÈÖÎ"/>
            <xsd:enumeration value="ÓÕÎÄ-ÂÈ×"/>
            <xsd:enumeration value="ÐÅÀÁÈËÈÒ"/>
            <xsd:enumeration value="ÏÐÎÔÇÀÁ"/>
            <xsd:enumeration value="ÏÅÐÅÑÌÎÒÐ"/>
            <xsd:enumeration value="ÏÐÎÂÎÂ"/>
            <xsd:enumeration value="ÐÀÁÑÂÏÊ"/>
            <xsd:enumeration value="ÐÀÁÂÎÂ"/>
            <xsd:enumeration value="ÑËÄÀÏÁË"/>
            <xsd:enumeration value="ÈÇËÂÒÐ"/>
            <xsd:enumeration value="ÐÀÁËÎÊ"/>
            <xsd:enumeration value="ÑËÏÐÎÆ"/>
            <xsd:enumeration value="ÑÒÐÀÕÁË"/>
            <xsd:enumeration value="ÏÐÇÀÃÐ"/>
            <xsd:enumeration value="ÏÐÁËÎÊ"/>
            <xsd:enumeration value="ÏÐÊÎÍÖ"/>
            <xsd:enumeration value="ÏÐÎÆÑÓÏÐ"/>
            <xsd:enumeration value="ÁÅÇÐ"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ÒèïÇàðàáîòîê">
        <xsd:sequence>
            <xsd:element name="ÒèïÑòðîêè">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:normalizedString">
                        <xsd:enumeration value="ÈÒÎÃ"/>
                        <xsd:enumeration value="ÌÅÑÖ"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Ãîä" type="xsd:gYear" minOccurs="0"/>
            <xsd:element name="Ìåñÿö" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:unsignedLong">
                        <xsd:minInclusive value="1"/>
                        <xsd:maxInclusive value="12"/>
                        <xsd:totalDigits value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Íà÷èñëåíîÂñåãî" type="pfr:ÒèïÄåíüãè" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>


	<xsd:complexType name="ÒèïÂñåÏåðèîäûÐàáîòû">
		<xsd:sequence maxOccurs="1">
			<xsd:element name="Êîëè÷åñòâî" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="99"/>
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ÏåðèîäÐàáîòû" maxOccurs="99" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ÎñíîâíàÿÑòðîêà">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ÍîìåðÑòðîêè">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:minInclusive value="1"/>
												<xsd:totalDigits value="3"/>
												<xsd:maxInclusive value="99"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ÄàòàÍà÷àëàÏåðèîäà" type="ÒèïÄàòà"/>
									<xsd:element name="ÄàòàÊîíöàÏåðèîäà" type="ÒèïÄàòà"/>
									<xsd:element name="ÎñîáåííîñòèÓ÷åòà" type="ÒèïÎñîáåííîñòèÓ÷åòà" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ÄîïîëíèòåëüíûåÑòðîêè" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Êîëè÷åñòâî">
										<xsd:simpleType>
											<xsd:restriction base="xsd:integer">
												<xsd:minInclusive value="1"/>
												<xsd:maxInclusive value="10"/>
												<xsd:totalDigits value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="ÎñîáåííîñòèÓ÷åòà" type="ÒèïÎñîáåííîñòèÓ÷åòà" maxOccurs="10"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ÒèïÎò÷åòíûéÏåðèîä">
	    <xsd:sequence>
	        <xsd:element name="Êâàðòàë">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:integer">
	                    <xsd:totalDigits value="1"/>
					</xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="Ãîä">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:gYear">
	                    <xsd:minInclusive value="1996"/>
	                    <xsd:maxInclusive value="2001"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="Íàçâàíèå" minOccurs="0" type="pfr:Òèï30Í"/>
	    </xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ÒèïÄîãîâîð">
	    <xsd:sequence>
	        <xsd:element name="Íîìåð" type="pfr:ÒèïÍîìåð" minOccurs="0"/>
	        <xsd:element name="ÄàòàÇàêëþ÷åíèÿ" type="pfr:ÒèïÄàòà"/>
	        <xsd:element name="ÊîäÂèäàÂûïëàòû">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:normalizedString">
	                    <xsd:maxLength value="6"/>
	                    <xsd:enumeration value="ÀÂÀÍÑ"/>
	                    <xsd:enumeration value="ÏÐÎ×ÅÅ"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="ÍàçâàíèåÂèäàÂûïëàòû" minOccurs="0">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:normalizedString">
	                    <xsd:maxLength value="20"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	    </xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ÒèïÑòðîêàÇàðàáîòêà">
	    <xsd:sequence>
	        <xsd:element name="ÒèïÑòðîêè">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:normalizedString">
	                    <xsd:enumeration value="ÌÅÑßÖ"/>
	                    <xsd:enumeration value="ÈÒÎÃÎ"/>
	                    <xsd:maxLength value="5"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="Ìåñÿö" minOccurs="0">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:integer">
	                    <xsd:minInclusive value="1"/>
	                    <xsd:maxInclusive value="12"/>
	                    <xsd:totalDigits value="2"/>
					</xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="Íà÷èñëåíîÂñåãî" type="pfr:ÒèïÄåíüãè"/>
	        <xsd:element name="Íà÷èñëåíîÏîÁîëüíè÷íûì" type="pfr:ÒèïÄåíüãè" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>


</xsd:schema>

