PU/XML/Schemas/CheckXml/ТипыРСВ2014.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<xsd:schema targetNamespace="http://schema.pfr.ru" elementFormDefault="qualified" version="2.01 от 23.03.2012" xmlns="http://schema.pfr.ru" xmlns:pfr="http://schema.pfr.ru" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="ru">XML-подсхема дл€ проверки документов - “ипы данных –—¬ 2014</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="“ипы.XSD"/>
	<xsd:include schemaLocation="“ипы—ѕ¬.XSD"/>
	<xsd:include schemaLocation="“ипы–—¬.XSD"/>

	<xsd:complexType name="“ип–ј—„≈“_ѕќ_—“–ј’ќ¬џћ_¬«Ќќ—јћ_Ќј_ќѕ—_»_ќћ—_ѕЋј“≈Ћ№ў» јћ»_ѕ–ќ»«¬ќƒяў»ћ»_¬џѕЋј“џ_‘Ћ_2014">
	    <xsd:sequence>
	        <xsd:element name="Ќомер¬пачке">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:integer">
	                    <xsd:enumeration value="1"/>
	                    <xsd:totalDigits value="3"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="–егистрационныйЌомерѕ‘–" type="pfr:“ип–егЌомер"/>
	        <xsd:element name="Ќомер орректировки" type="pfr:“ипЌомер орректировки">
	        </xsd:element>
	        <xsd:element name=" одќтчетногоѕериода">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:integer">
	                    <xsd:enumeration value="3"/>
	                    <xsd:enumeration value="6"/>
	                    <xsd:enumeration value="9"/>
	                    <xsd:enumeration value="0"/>
	                    <xsd:totalDigits value="1"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name=" алендарный√од">
	            <xsd:simpleType>
	                <xsd:restriction base="pfr:“ип√од">
	                    <xsd:minInclusive value="2014"/>
	                    <xsd:maxInclusive value="2015"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="ѕрекращениеƒе€тельности" type="pfr:“ипѕрекращениеƒе€тельности" minOccurs="0"/>
			<xsd:element name="“ип орректировки" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="1"/>
						<xsd:enumeration value=""/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
	        <xsd:choice>
	            <xsd:sequence>
	                <xsd:element name="Ќаименованиеќрганизации" type="pfr:“ипЌаименованиеќрганизации">
	                </xsd:element>
	                <xsd:element name="»ЌЌсимвольный" type="pfr:“ип»ЌЌсимв">
	                </xsd:element>
	                <xsd:element name=" ѕѕ" minOccurs="0" type="pfr:“ип ѕѕсимв">
	                </xsd:element>
	            </xsd:sequence>
	            <xsd:sequence>
	                <xsd:element name="‘»ќфизическогоЋица" type="pfr:“ип‘»ќ"/>
	                <xsd:element name="»ЌЌсимвольный" type="pfr:“ип»ЌЌсимв"/>
	            </xsd:sequence>
	        </xsd:choice>
	        <xsd:element name=" одѕоќ ¬Ёƒ" type="pfr:“ип одѕоќ ¬Ёƒ"/>
	        <xsd:element name="“елефон" type="pfr:“ип40Ќ" minOccurs="0"/>
	        
	        <xsd:element name=" оличество«Ћ">
	            <xsd:simpleType>
	                <xsd:restriction base="pfr:“ип оличество6">
	                    <xsd:minInclusive value="0"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="—реднесписочна€„исленность">
	            <xsd:simpleType>
	                <xsd:restriction base="pfr:“ип оличество6">
	                    <xsd:minInclusive value="0"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name=" оличество—траниц">
	            <xsd:simpleType>
	                <xsd:restriction base="pfr:“ип оличество6">
	                    <xsd:minInclusive value="1"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name=" оличествоЋистовѕриложени€" type="pfr:“ип оличество" minOccurs="0"/>
	        <xsd:element name="–аздел1–асчетѕоЌачисленным”плаченным2014">
	            <xsd:complexType>
	                <xsd:sequence>
	                    <xsd:element name="ќстаток«адолженностиЌаЌачало–асчетногоѕериода2014" minOccurs="0" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014"/>
	                    <xsd:element name="Ќачислено—начала–асчетногоѕериода2014" type="pfr:“ипЌачислено—траховых¬зносов—Ќачала–асчетногоѕериода"/>
	                    <xsd:element name="ƒоначислено—начала–асчетногоѕериода2014всего" minOccurs="0" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014">
	                    </xsd:element>
	                    <xsd:element name="ƒоначислено—начала–асчетногоѕериода2014превышающие" minOccurs="0" type="pfr:“ипƒоначислено—траховых¬зносов—начала–асчетногоѕериода—суммѕревышающихЅазу"/>
	                    <xsd:element name="¬сего уплате2014" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014"/>
	                    <xsd:element name="”плачено—начала–асчетногоѕериода2014" type="pfr:“ип”плачено—Ќачала–асчетногоѕериода"/>
	                    <xsd:element name="ќстаток«адолженностиЌа онец–асчетногоѕериода2014" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014"/>
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="–аздел2–асчетѕо“арифу»доп“арифу">
	            <xsd:complexType>
	                <xsd:sequence>
	                    <xsd:element name="–аздел_2_1" maxOccurs="19" type="pfr:“ип–асчет—траховых¬зносовѕо“арифу2014">
	                    </xsd:element>
	                    <xsd:element name="–аздел_2_2" minOccurs="0" type="pfr:“ип–асчетЌачисленных—траховых¬зносовѕоƒополнительному“арифу2014">
	                    </xsd:element>
	                    <xsd:element name="–аздел_2_3" minOccurs="0" type="pfr:“ип–асчетЌачисленных—траховых¬зносовѕоƒополнительному“арифу2014"/>
	                    <xsd:element name="–аздел_2_4" minOccurs="0" maxOccurs="6">
	                        <xsd:complexType>
	                            <xsd:sequence>
	                                <xsd:element name=" одќсновани€–асчетаѕоƒоп“арифу">
	                                    <xsd:simpleType>
	                                        <xsd:restriction base="xsd:positiveInteger">
	                                            <xsd:enumeration value="1"/>
	                                            <xsd:enumeration value="2"/>
	                                            <xsd:totalDigits value="1"/>
	                                        </xsd:restriction>
	                                    </xsd:simpleType>
	                                </xsd:element>
	                                <xsd:element name="ќснование«аполнени€–аздела2_4">
	                                    <xsd:simpleType>
	                                        <xsd:restriction base="xsd:normalizedString">
	                                            <xsd:maxLength value="100"/>
	                                            <xsd:enumeration value="–≈«”Ћ№“ј“џ —ѕ≈÷ќ÷≈Ќ »"/>
	                                            <xsd:enumeration value="–≈«”Ћ№“ј“џ ј““≈—“ј÷»» –јЅќ„»’ ћ≈—“"/>
	                                            <xsd:enumeration value="–≈«”Ћ№“ј“џ —ѕ≈÷ќ÷≈Ќ » » –≈«”Ћ№“ј“џ ј““≈—“ј÷»» –јЅќ„»’ ћ≈—“"/>
	                                        </xsd:restriction>
	                                    </xsd:simpleType>
	                                </xsd:element>
	                                <xsd:element name="–асчетЌачисленныхѕо оду—пецќценки”“" maxOccurs="5">
	                                    <xsd:complexType>
	                                        <xsd:sequence>
	                                            <xsd:element name=" од—пециальнойќценки”словий“руда">
	                                                <xsd:simpleType>
	                                                    <xsd:restriction base="xsd:normalizedString">
	                                                        <xsd:maxLength value="4"/>
	                                                        <xsd:minLength value="1"/>
	                                                        <xsd:enumeration value="ќ4"/>
	                                                        <xsd:enumeration value="¬3.4"/>
	                                                        <xsd:enumeration value="¬3.3"/>
	                                                        <xsd:enumeration value="¬3.2"/>
	                                                        <xsd:enumeration value="¬3.1"/>
	                                                    </xsd:restriction>
	                                                </xsd:simpleType>
	                                            </xsd:element>
	                                            <xsd:element name="–асчетЌачисленныхѕоƒоп“арифу" type="“ип–асчетЌачисленных—траховых¬зносовѕоƒополнительному“арифу2014"/>
	                                        </xsd:sequence>
	                                    </xsd:complexType>
	                                </xsd:element>
	                            </xsd:sequence>
	                        </xsd:complexType>
	                    </xsd:element>
	                    <xsd:element name="–аздел_2_5" minOccurs="0">
	                        <xsd:complexType>
	                            <xsd:sequence>
	                                <xsd:element name="ѕереченьѕачек»сходных—веденийѕ”" minOccurs="0">
	                                    <xsd:complexType>
	                                        <xsd:sequence>
	                                            <xsd:element name=" оличествоѕачек" type="pfr:“ип оличество6"/>
	                                            <xsd:element name="—ведени€ќпачке»сходных" maxOccurs="unbounded">
	                                                <xsd:complexType>
	                                                    <xsd:sequence>
	                                                        <xsd:element name="Ќомерѕѕ" type="pfr:“ипЌомерѕоѕор€дку"/>
	                                                        <xsd:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌеѕревышающа€ѕредельную" type="pfr:“ипƒеньги"/>
	                                                        <xsd:element name="—траховых¬зносовќѕ—" type="pfr:“ипƒеньги"/>
	                                                        <xsd:element name=" оличество«Ћвѕачке" type="pfr:“ип оличество"/>
	                                                        <xsd:element name="»м€‘айла" type="pfr:“ип»м€‘айла"/>
	                                                    </xsd:sequence>
	                                                </xsd:complexType>
	                                            </xsd:element>
	                                            <xsd:element name="»того—ведени€ѕоѕачкам">
	                                                <xsd:complexType>
	                                                    <xsd:sequence>
	                                                        <xsd:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌеѕревышающа€ѕредельную" type="pfr:“ипƒеньги"/>
	                                                        <xsd:element name="—траховых¬зносовќѕ—" type="pfr:“ипƒеньги"/>
	                                                        <xsd:element name=" оличество«Ћвѕачке" type="pfr:“ип оличество6"/>
	                                                    </xsd:sequence>
	                                                </xsd:complexType>
	                                            </xsd:element>
	                                        </xsd:sequence>
	                                    </xsd:complexType>
	                                </xsd:element>
	                                <xsd:element name="ѕереченьѕачек орректирующих—веденийѕ”" minOccurs="0">
	                                    <xsd:complexType>
	                                        <xsd:sequence>
	                                            <xsd:element name=" оличествоѕачек" type="pfr:“ип оличество6"/>
	                                            <xsd:element name="—ведени€ќпачке орректирующих" maxOccurs="unbounded">
	                                                <xsd:complexType>
	                                                    <xsd:sequence>
	                                                        <xsd:element name="Ќомерѕѕ" type="pfr:“ипЌомерѕоѕор€дку"/>
	                                                        <xsd:element name=" орректируемыйќтчетныйѕериод" type="pfr:“ипќтчетныйѕериодќбщий"/>
	                                                        <xsd:element name="ƒоначислено—траховых¬зносовќѕ—" type="pfr:“ипƒеньги" nillable="true" minOccurs="0"/>
	                                                        <xsd:element name="ƒоначисленоЌа—траховую„асть" type="pfr:“ипƒеньги" minOccurs="0"/>
	                                                        <xsd:element name="ƒоначисленоЌаЌакопительную„асть" type="pfr:“ипƒеньги" minOccurs="0"/>
	                                                        <xsd:element name=" оличество«Ћвѕачке" type="pfr:“ип оличество"/>
	                                                        <xsd:element name="»м€‘айла" type="pfr:“ип»м€‘айла"/>
	                                                    </xsd:sequence>
	                                                </xsd:complexType>
	                                            </xsd:element>
	                                            <xsd:element name="»того—ведени€ѕоѕачкам орректирующих">
	                                                <xsd:complexType>
	                                                    <xsd:sequence>
	                                                        <xsd:element name="ƒоначислено—траховых¬зносовќѕ—" type="pfr:“ипƒеньги" minOccurs="0"/>
	                                                        <xsd:element name="ƒоначисленоЌа—траховую„асть" type="pfr:“ипƒеньги" minOccurs="0"/>
	                                                        <xsd:element name="ƒоначисленоЌаЌакопительную„асть" type="pfr:“ипƒеньги" minOccurs="0"/>
	                                                        <xsd:element name=" оличество«Ћвѕачке" type="pfr:“ип оличество6"/>
	                                                    </xsd:sequence>
	                                                </xsd:complexType>
	                                            </xsd:element>
	                                        </xsd:sequence>
	                                    </xsd:complexType>
	                                </xsd:element>
	                            </xsd:sequence>
	                        </xsd:complexType>
	                    </xsd:element>
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="–аздел3–асчетЌаѕравоѕрименени€ѕониженного“арифа2014" minOccurs="0">
	            <xsd:complexType>
	                <xsd:sequence>
	                    <xsd:element name="–аздел3_1_ƒл€ќбщественныхќрганизаций»нвалидов" minOccurs="0" type="pfr:“ипƒл€ќбщественныхќрганизаций»нвалидов"/>
	                    <xsd:element name="–аздел3_2_ƒл€ќрганизаций”ставный апитал—остоит»з¬кладовќбщќрг»нвалидов" minOccurs="0" type="pfr:“ипƒл€ќрганизаций”ставный апитал—остоит»з¬кладовќбщќрг»нвалидов"/>
	                    <xsd:element name="–аздел3_3_ƒл€ќрганизаций»“" minOccurs="0">
	                        <xsd:complexType>
	                            <xsd:sequence>
	                                <xsd:element name="—уммаƒоходовѕоЌ всего" type="pfr:“ип—уммаƒоходовѕо»тогамѕериодов"/>
	                                <xsd:element name="—уммаƒоходов»“изЌих" type="pfr:“ип—уммаƒоходовѕо»тогамѕериодов"/>
	                                <xsd:element name="ƒол€ƒоходов»“" type="pfr:“ипƒол€ƒоходовѕо»тогамѕериодов"/>
	                                <xsd:element name="„исленность–аботников»“" type="pfr:“ип„исленность–аботниковѕо»тогамѕериодов"/>
	                                <xsd:element name="—ведени€»з–еестра»“" type="pfr:“ип—ведени€»з–еестра"/>
	                            </xsd:sequence>
	                        </xsd:complexType>
	                    </xsd:element>
	                    <xsd:element name="–аздел3_4_ƒл€ќрганизаций—ћ»" minOccurs="0">
	                        <xsd:complexType>
	                            <xsd:sequence>
	                                <xsd:element name="—ведени€ѕо¬идуƒе€тельности" maxOccurs="unbounded">
	                                    <xsd:complexType>
	                                        <xsd:sequence>
	                                            <xsd:element name="Ќомерѕѕ" type="pfr:“ипЌомерѕоѕор€дку"/>
	                                            <xsd:element name="Ќаименование¬идаЁƒ">
	                                                <xsd:simpleType>
	                                                    <xsd:restriction base="xsd:normalizedString">
	                                                        <xsd:maxLength value="250"/>
	                                                        <xsd:minLength value="1"/>
	                                                    </xsd:restriction>
	                                                </xsd:simpleType>
	                                            </xsd:element>
	                                            <xsd:element name=" одѕоќ ¬Ёƒ" type="pfr:“ип одѕоќ ¬Ёƒ"/>
	                                            <xsd:element name="ƒоходыѕо¬идуЁƒ" type="pfr:“ипƒеньги"/>
	                                            <xsd:element name="ƒол€ƒоходовѕо¬идуЁƒ" type="pfr:“ипƒол€ƒохода"/>
	                                        </xsd:sequence>
	                                    </xsd:complexType>
	                                </xsd:element>
	                                <xsd:element name="»тогоѕо¬сем¬идамƒе€тельности" type="pfr:“ипƒеньги"/>
	                                <xsd:element name="—ведени€»з–еестра—ћ»" type="pfr:“ип—ведени€»з–еестра"/>
	                            </xsd:sequence>
	                        </xsd:complexType>
	                    </xsd:element>
	                    <xsd:element name="–аздел3_5_ƒл€ќрганизацийѕримен€ющих”—Ќ" minOccurs="0" type="pfr:“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониж“арифаќтд атегори€миѕлательщиков”—Ќ"/>
	                    <xsd:element name="–аздел3_6_ƒл€Ќекоммерческихќрганизацийѕримен€ющих”—Ќ" minOccurs="0" type="pfr:“ипƒл€Ќекоммерческихќрганизацийѕримен€ющих”—Ќ"/>
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="–аздел4—уммыƒоначисленных—траховых¬зносов2014" minOccurs="0">
	            <xsd:complexType>
	                <xsd:sequence>
	                    <xsd:element name="—уммаƒоначисленных¬зносов«аѕериодЌачина€—2014" maxOccurs="unbounded" minOccurs="0">
	                        <xsd:complexType>
	                            <xsd:sequence>
	                                <xsd:element name="Ќомерѕѕ" type="pfr:“ипЌомерѕоѕор€дку"/>
	                                <xsd:element name="ќснованиеƒл€ƒоначислени€">
	                                    <xsd:simpleType>
	                                        <xsd:restriction base="xsd:positiveInteger">
	                                            <xsd:totalDigits value="1"/>
	                                            <xsd:enumeration value="1"/>
	                                            <xsd:enumeration value="2"/>
	                                            <xsd:enumeration value="3"/>
	                                        </xsd:restriction>
	                                    </xsd:simpleType>
	                                </xsd:element>
	                                <xsd:element name=" одќсновани€ƒл€ƒоп“арифа" minOccurs="0">
	                                    <xsd:simpleType>
	                                        <xsd:restriction base="xsd:positiveInteger">
	                                            <xsd:totalDigits value="1"/>
	                                            <xsd:enumeration value="1"/>
	                                            <xsd:enumeration value="2"/>
	                                        </xsd:restriction>
	                                    </xsd:simpleType>
	                                </xsd:element>
	                                <xsd:element name="√од">
	                                    <xsd:simpleType>
	                                        <xsd:restriction base="pfr:“ип√од">
	                                            <xsd:minInclusive value="2010"/>
	                                        </xsd:restriction>
	                                    </xsd:simpleType>
	                                </xsd:element>
	                                <xsd:element name="ћес€ц">
	                                    <xsd:simpleType>
	                                        <xsd:restriction base="pfr:“ипћес€ц">
	                                            <xsd:totalDigits value="2"/>
	                                            <xsd:minInclusive value="1"/>
	                                            <xsd:maxInclusive value="12"/>
	                                        </xsd:restriction>
	                                    </xsd:simpleType>
	                                </xsd:element>
									<xsd:element name="—уммаƒоначисленных¬зносовќѕ—2014всего" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—уммаƒоначисленных¬зносовќѕ—2014превыщающие" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—уммаƒоначисленных¬зносовЌа—траховую¬сего" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—уммаƒоначисленных¬зносовЌа—траховуюѕревышающие" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—уммаƒоначисленных¬зносовЌаЌакопительную" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„1" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„2" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„2_1" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—траховые¬зносыќћ—" type="pfr:“ипƒеньги" minOccurs="0"/>
	                            </xsd:sequence>
	                        </xsd:complexType>
	                    </xsd:element>
	                    <xsd:element name="»тогоƒоначисленоЌачина€—2014">
	                        <xsd:complexType>
	                            <xsd:sequence>
									<xsd:element name="—уммаƒоначисленных¬зносовќѕ—2014всего" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—уммаƒоначисленных¬зносовќѕ—2014превыщающие" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—уммаƒоначисленных¬зносовЌа—траховую¬сего" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—уммаƒоначисленных¬зносовЌа—траховуюѕревышающие" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—уммаƒоначисленных¬зносовЌаЌакопительную" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„1" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„2" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„2_1" type="pfr:“ипƒеньги" minOccurs="0"/>
									<xsd:element name="—траховые¬зносыќћ—" type="pfr:“ипƒеньги" minOccurs="0"/>
	                            </xsd:sequence>
	                        </xsd:complexType>
	                    </xsd:element>
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="–аздел5—ведени€ќ¬ыплатах¬пользуќбучающихс€2014" minOccurs="0">
	            <xsd:complexType>
	                <xsd:sequence>
	                    <xsd:element name=" оличествоќбучающихс€" type="pfr:“ип оличество6"/>
	                    <xsd:element name="—ведени€ќбќбучающемс€" maxOccurs="unbounded">
	                        <xsd:complexType>
	                            <xsd:sequence>
	                                <xsd:element name="Ќомерѕѕ" type="pfr:“ипЌомерѕоѕор€дку"/>
	                                <xsd:element name="‘»ќ" type="pfr:“ип‘»ќ"/>
	                                <xsd:element name="Ќомер—правкиќчленстве¬студќтр€де" minOccurs="0" type="pfr:“ипЌомер"/>
	                                <xsd:element name="ƒата¬ыдачи—правкиќчленстве¬студќтр€де" minOccurs="0" type="pfr:“ипƒата"/>
	                                <xsd:element name="Ќомер—правкиќбќчномќбучении" minOccurs="0" type="pfr:“ипЌомер"/>
	                                <xsd:element name="ƒата¬ыдачи—правкиќбќчномќбучении" minOccurs="0" type="pfr:“ипƒата"/>
	                                <xsd:element name="—уммы¬ыплат»вознаграждений" type="pfr:“ип–асчет—умм"/>
	                            </xsd:sequence>
	                        </xsd:complexType>
	                    </xsd:element>
	                    <xsd:element name="»того¬ыплат" type="pfr:“ип–асчет—умм"/>
	                    <xsd:element name="—ведени€»з–еестраћƒќќ">
	                        <xsd:complexType>
	                            <xsd:sequence>
	                                <xsd:element name=" од—троки" type="pfr:“ип од—троки"/>
	                                <xsd:element name="–еквизиты«аписи¬реестре" maxOccurs="unbounded">
	                                    <xsd:complexType>
	                                        <xsd:sequence>
	                                            <xsd:element name="ƒата«аписи¬реестре" type="pfr:“ипƒата"/>
	                                            <xsd:element name="Ќомер«аписи¬реестре" type="pfr:“ипЌомер"/>
	                                        </xsd:sequence>
	                                    </xsd:complexType>
	                                </xsd:element>
	                            </xsd:sequence>
	                        </xsd:complexType>
	                    </xsd:element>
	                </xsd:sequence>
	            </xsd:complexType>
	        </xsd:element>
	        <xsd:element name="Ћицоѕодтверждающее—ведени€">
	            <xsd:simpleType>
	                <xsd:restriction base="xsd:unsignedInt">
	                    <xsd:minInclusive value="1"/>
	                    <xsd:maxInclusive value="3"/>
	                    <xsd:totalDigits value="1"/>
	                </xsd:restriction>
	            </xsd:simpleType>
	        </xsd:element>
	        <xsd:element name="‘»ќлицаѕодтверждающего—ведени€" type="pfr:“ип‘»ќ"/>
	        <xsd:element name="Ќаименованиеќрганизацииѕредставител€" minOccurs="0" type="pfr:“ипЌаименованиеќрганизации"/>
	        <xsd:element name="ƒокументѕодтверждающийѕолномочи€ѕредставител€" minOccurs="0" type="pfr:“ипƒокумент"/>
	        <xsd:element name="ƒата«аполнени€" type="pfr:“ипƒата"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="“ип”плачено—Ќачала–асчетногоѕериода">
		<xsd:sequence>
			<xsd:element name="¬сего—начала–асчетногоѕериода2014" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014"/>
			<xsd:element name="ѕоследние“рићес€ца1с2014" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014"/>
			<xsd:element name="ѕоследние“рићес€ца2с2014" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014"/>
			<xsd:element name="ѕоследние“рићес€ца3с2014" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014"/>
			<xsd:element name="ѕоследние“рићес€ца»того2014" type="pfr:“ип–асчетѕоЌачисленным»”плаченным2014"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ип–асчетѕоЌачисленным»”плаченным2014">
		<xsd:sequence>
			<xsd:element name=" од—троки" type="pfr:“ип од—троки"/>
			<xsd:element name="—траховые¬зносыќѕ—" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="ќѕ—страхова€„асть" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="ќѕ—накопительна€„асть" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="¬зносыѕоƒоп“арифу1" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="¬зносыѕоƒоп“арифу2_18" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="—траховые¬зносыќћ—" type="pfr:“ипƒеньги" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ип–асчет—траховых¬зносовѕо“арифу2014">
		<xsd:sequence>
			<xsd:element name=" од“арифа" type="pfr:“ип од“арифа"/>
			<xsd:element name="Ќаќб€зательноеѕенсионное—трахование2014" type="pfr:“ипЌаќб€зательноеѕенсионное—трахование2014"/>
			<xsd:element name="Ќаќб€зательноећедицинское—трахование" type="pfr:“ипЌаќб€зательноећедицинское—трахование"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ипЌаќб€зательноеѕенсионное—трахование2014">
		<xsd:sequence>
			<xsd:element name="—умма¬ыплат»вознагражденийќѕ—" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ќеѕодлежащиеќбложениюќѕ—" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="—умма–асходовѕринимаемых вычетуќѕ—" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="ѕревышающиеѕредельную¬еличинуЅазыќѕ—" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌаќѕ—" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="ЌачисленоЌаќѕ—с—уммЌеѕревышающих" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="ЌачисленоЌаќѕ—с—уммѕревышающих" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name=" оличество‘Ћвсего" type="pfr:“ипѕоказатель„исленность" minOccurs="0"/>
			<xsd:element name=" оличество‘Ћпо оторымЅазаѕревысилаѕредел" type="pfr:“ипѕоказатель„исленность" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ипЌаќб€зательноећедицинское—трахование">
		<xsd:sequence>
			<xsd:element name="—умма¬ыплат»вознаграждений" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ќеѕодлежащиеќбложению" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="—умма–асходовѕринимаемых вычету" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="ѕревышающиеѕредельную¬еличинуЅазы" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌаќћ—" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="ЌачисленоЌаќћ—" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ип–асчетЌачисленных—траховых¬зносовѕоƒополнительному“арифу2014">
		<xsd:sequence>
			<xsd:element name="—умма¬ыплат»вознагражденийѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ќеѕодлежащиеќбложениюѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ќачисленоѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name=" оличество‘Ћпоƒоп“арифу" type="pfr:“ипѕоказатель„исленность" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ип–асчетЌачисленных»”плаченных—траховых¬зносовѕоƒополнительному“арифу">
		<xsd:sequence>
			<xsd:element name="—умма¬ыплат»вознагражденийѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ќеѕодлежащиеќбложениюѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="—умма–асходовѕринимаемых вычетуѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xsd:element name="Ќачисленоѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм"/>
			<xsd:element name="”плаченоѕоƒоп“арифу" type="pfr:“ипѕоказатель–асчет—умм"/>
			<xsd:element name=" оличество‘Ћпоƒоп“арифу" type="pfr:“ипѕоказатель„исленность"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ип—уммаƒохода—Ќачалаќтчетногоѕериода">
		<xsd:sequence>
			<xsd:element name=" од—троки" type="pfr:“ип од—троки"/>
			<xsd:element name="—уммаƒохода" type="pfr:“ипƒеньги"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ип–асчетѕоЌачисленным»уплаченным2010-2013">
		<xsd:sequence>
			<xsd:element name=" од—троки" type="pfr:“ип од—троки"/>
			<xsd:element name="—траховые¬зносыќѕ—" type="pfr:“ипƒеньги"/>
			<xsd:element name="¬зносыѕоƒоп“арифу1" type="pfr:“ипƒеньги"/>
			<xsd:element name="¬зносыѕоƒоп“арифу2_18" type="pfr:“ипƒеньги"/>
			<xsd:element name="—траховые¬зносыќћ—" type="pfr:“ипƒеньги"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ипЌачислено”плачено«аѕериоды2010-2013">
		<xsd:sequence>
			<xsd:element name="¬сего—начала–асчетногоѕериода2014" type="pfr:“ип–асчетѕоЌачисленным»уплаченным2010-2013"/>
			<xsd:element name="ѕоследние“рићес€ца1с2014" type="pfr:“ип–асчетѕоЌачисленным»уплаченным2010-2013"/>
			<xsd:element name="ѕоследние“рићес€ца2с2014" type="pfr:“ип–асчетѕоЌачисленным»уплаченным2010-2013"/>
			<xsd:element name="ѕоследние“рићес€ца3с2014" type="pfr:“ип–асчетѕоЌачисленным»уплаченным2010-2013"/>
			<xsd:element name="ѕоследние“рићес€ца»того2014" type="pfr:“ип–асчетѕоЌачисленным»уплаченным2010-2013"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ипƒоначислено—траховых¬зносов—начала–асчетногоѕериода—суммѕревышающихЅазу">
		<xsd:sequence>
			<xsd:element name=" од—троки" type="pfr:“ип од—троки"/>
			<xsd:element name="—траховые¬зносыќѕ—" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="ќѕ—страхова€„асть" type="pfr:“ипƒеньги" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ип–асчетѕоЌачисленным2014">
		<xsd:sequence>
			<xsd:element name=" од—троки" type="pfr:“ип од—троки"/>
			<xsd:element name="—траховые¬зносыќѕ—" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="¬зносыѕоƒоп“арифу1" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="¬зносыѕоƒоп“арифу2_18" type="pfr:“ипƒеньги" minOccurs="0"/>
			<xsd:element name="—траховые¬зносыќћ—" type="pfr:“ипƒеньги" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="“ипЌачислено—траховых¬зносов—Ќачала–асчетногоѕериода">
		<xsd:sequence>
			<xsd:element name="¬сего—начала–асчетногоѕериода2014" type="pfr:“ип–асчетѕоЌачисленным2014"/>
			<xsd:element name="ѕоследние“рићес€ца1с2014" type="pfr:“ип–асчетѕоЌачисленным2014"/>
			<xsd:element name="ѕоследние“рићес€ца2с2014" type="pfr:“ип–асчетѕоЌачисленным2014"/>
			<xsd:element name="ѕоследние“рићес€ца3с2014" type="pfr:“ип–асчетѕоЌачисленным2014"/>
			<xsd:element name="ѕоследние“рићес€ца»того2014" type="pfr:“ип–асчетѕоЌачисленным2014"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="“ип оличество6">
		<xsd:restriction base="xsd:unsignedLong">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>

<xsd:simpleType name="“ип од“арифа">
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="07"/>
			<xsd:enumeration value="08"/>
			<xsd:enumeration value="09"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
			<xsd:enumeration value="13"/>
			<xsd:enumeration value="15"/>
			<xsd:enumeration value="16"/>
			<xsd:enumeration value="18"/>
			<xsd:enumeration value="19"/>
			<xsd:enumeration value="20"/>
			<xsd:enumeration value="36"/>
			<xsd:enumeration value="52"/>
			<xsd:enumeration value="53"/>
		</xsd:restriction>
	</xsd:simpleType>
	

</xsd:schema>

