PU/XML/Schemas/CheckPfr/Szv_6.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Sauronix (Branch of the  Pension Fund of the Russian Federation on  Republic Bashkortostan) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="ru">XML-подсхема для проверки СПВ-1</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="Types.XSD"/>
	<xsd:include schemaLocation="Types_INDS.XSD"/>
	<xsd:include schemaLocation="Types_SPV.XSD"/>
	<xsd:complexType name="ВХОДЯЩАЯ_ОПИСЬ_ПО_СТРАХОВЫМ_ВЗНОСАМ">
		<xsd:sequence>
			<xsd:element name="НомерВпачке">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="32001"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ТипВходящейОписи">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="ОПИСЬ ПАЧКИ"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="СоставительПачки" type="ТипОрганизация"/>
			<xsd:element name="НомерПачки">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Основной" type="ТипНомерПачки"/>
						<xsd:element name="ПоПодразделению" type="ТипНомерПачки"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="СоставДокументов">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Количество">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:enumeration value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="НаличиеДокументов">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ТипДокумента">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="СВЕДЕНИЯ_О_СТРАХОВЫХ_ВЗНОСАХ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ"/>
												<!--												<xsd:enumeration value="ОПИСЬ_СВЕДЕНИЙ_ПЕРЕДАВАЕМЫХ_СТРАХОВАТЕЛЕМ" />-->
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Количество">
										<xsd:simpleType>
											<xsd:restriction base="xsd:positiveInteger">
												<xsd:maxInclusive value="32766"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="Вариант" type="xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ДатаСоставления" type="ТипДата"/>
			<xsd:element name="ТипСведений" type="ТипТипСведенийСПВ"/>
			<xsd:element name="КодКатегории" type="ТипКодКатегорииСПВ"/>
			<xsd:element name="ОтчетныйПериод" type="ТипОтчетныйПериодКорр"/>
			<xsd:element name="КорректируемыйОтчетныйПериод" type="ТипОтчетныйПериодСПВ" minOccurs="0"/>
			<xsd:element name="СуммаВзносовНаСтраховую" type="ТипСуммаВзносовНаЧастьПенсии" minOccurs="0"/>
			<xsd:element name="СуммаВзносовНаНакопительную" type="ТипСуммаВзносовНаЧастьПенсии" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Тип ВхДок-->
	<xsd:complexType name="СВЕДЕНИЯ_О_СТРАХОВЫХ_ВЗНОСАХ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ">
		<xsd:sequence>
			<xsd:element name="НомерВпачке">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="32001"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ВидФормы" type="ТипВидФормыСПВ"/>
			<xsd:element name="ТипСведений" type="ТипТипСведенийСПВ"/>
			<xsd:element name="РегистрационныйНомер" type="ТипРегНомер"/>
			<xsd:element name="НаименованиеКраткое">
				<xsd:simpleType>
					<xsd:restriction base="Тип100">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="НалоговыйНомер" type="ТипНН"/>
			<xsd:element name="КодКатегории" type="ТипКодКатегорииСПВ"/>
			<xsd:element name="ОтчетныйПериод" type="ТипОтчетныйПериодКорр"/>
			<xsd:element name="КорректируемыйОтчетныйПериод" type="ТипОтчетныйПериодСПВ" minOccurs="0"/>
			<xsd:element name="СтраховойНомер" type="ТипСтраховойНомер"/>
			<xsd:element name="ФИО" type="ТипФИО"/>
			<xsd:element name="АдресЗЛ" type="ТипАдресОбщий" minOccurs="0"/>
			<xsd:element name="СуммаВзносовНаСтраховую" type="ТипСуммаВзносовНаЧастьПенсии" minOccurs="0"/>
			<xsd:element name="СуммаВзносовНаНакопительную" type="ТипСуммаВзносовНаЧастьПенсии" minOccurs="0"/>
			<xsd:element name="ДатаЗаполнения" type="ТипДата"/>
			<xsd:element name="ДатаСоставленияНа" type="ТипДатаН" minOccurs="0"/>
			<xsd:element name="СтажевыйПериод" type="ТипСтажевыйПериодРСВ" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ВходящийДокумент  -->
	<!-- ВходящийДокумент  -->
	<xsd:element name="ФайлПФР">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ИмяФайла" type="ТипИмяФайла"/>
				<xsd:element name="ЗаголовокФайла">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ВерсияФормата">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="07.00"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ТипФайла">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="ВНЕШНИЙ"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ПрограммаПодготовкиДанных">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="НазваниеПрограммы" type="Тип40"/>
										<xsd:element name="Версия">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:minLength value="1"/>
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ИсточникДанных">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="СТРАХОВАТЕЛЬ"/>
										<xsd:enumeration value="ТРАНСФЕР-АГЕНТ"/>
										<xsd:enumeration value="ОПФР-ЛИЧНО"/>
										<xsd:enumeration value="ОПФР-ПРОЧЕЕ"/>
										<xsd:enumeration value="НПФ"/>
										<xsd:enumeration value="ПФР"/>
										<xsd:enumeration value="ОРГАН_ЗАГС"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ПачкаВходящихДокументов">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ВХОДЯЩАЯ_ОПИСЬ_ПО_СТРАХОВЫМ_ВЗНОСАМ" type="ВХОДЯЩАЯ_ОПИСЬ_ПО_СТРАХОВЫМ_ВЗНОСАМ"/>
							<xsd:choice>
								<xsd:element name="СВЕДЕНИЯ_О_СТРАХОВЫХ_ВЗНОСАХ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ" type="СВЕДЕНИЯ_О_СТРАХОВЫХ_ВЗНОСАХ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ" maxOccurs="32766"/>
							</xsd:choice>
						</xsd:sequence>
						<xsd:attribute name="Окружение" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Единичный запрос"/>
									<xsd:enumeration value="В составе файла"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="Стадия" use="optional">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="До обработки"/>
									<xsd:enumeration value="После обработки"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
