PU/XML/Schemas/CheckPfr/РСВ2014_Раздел6.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Sauronix (Branch of the  Pension Fund of the Russian Federation on  Republic Bashkortostan) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="ru">XML-подсхема для проверки Раздел-6 РСВ-1</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="Types.XSD"/>
	<xsd:include schemaLocation="Types_INDS.XSD"/>
	<xsd:include schemaLocation="Types_SPV.XSD"/>
	<xsd:complexType name="СуммаВыплатИвознагражденийПоДопТарифу">
		<xsd:sequence>
			<xsd:element name="НомерСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ТипСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="МЕСЦ"/>
						<xsd:enumeration value="ИТОГ"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Месяц" type="ТипМесяц" minOccurs="0"/>
			<xsd:element name="КодСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="КодСпециальнойОценкиУсловийТруда">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
						<xsd:minLength value="0"/>
						<xsd:enumeration value="О4"/>
						<xsd:enumeration value="В3.4"/>
						<xsd:enumeration value="В3.3"/>
						<xsd:enumeration value="В3.2"/>
						<xsd:enumeration value="В3.1"/>
						<xsd:enumeration value=""/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="СуммаВыплатПоДопТарифу27-1" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="СуммаВыплатПоДопТарифу27-2-18" type="ТипДеньги" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="УчтеноПоКатегории">
		<xsd:sequence>
			<xsd:element name="НомерСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="КодКатегории" type="ТипКодКатегорииСПВ"/>
			<xsd:element name="УчтеноНаСтраховую" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="УчтеноНаНакопительную" type="ТипДеньги" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="СуммаВыплатИвознагражденийВпользуЗЛ">
		<xsd:sequence>
			<xsd:element name="НомерСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ТипСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="МЕСЦ"/>
						<xsd:enumeration value="ИТОГ"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Месяц" type="ТипМесяц" minOccurs="0"/>
			<xsd:element name="КодСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="КодКатегории" type="ТипКодКатегорииСПВ2"/>
			<xsd:element name="СуммаВыплатИныхВознаграждений" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="НеПревышающиеВсего" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="НеПревышающиеПоДоговорам" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="ПревышающиеПредельную" type="ТипДеньги" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="СведенияОкорректировках">
		<xsd:sequence>
			<xsd:element name="НомерСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ТипСтроки">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="МЕСЦ"/>
						<xsd:enumeration value="ИТОГ"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Квартал" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="1"/>
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="6"/>
						<xsd:enumeration value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Год" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:gYear">
						<xsd:minInclusive value="2010"/>
						<xsd:maxInclusive value="2015"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="СуммаДоначисленныхВзносовОПС" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="СуммаДоначисленныхВзносовНаСтраховую" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="СуммаДоначисленныхВзносовНаНакопительную" type="ТипДеньги" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="СВЕДЕНИЯ_ПО_ПАЧКЕ_ДОКУМЕНТОВ_РАЗДЕЛА_6">
		<xsd:sequence>
			<xsd:element name="НомерВпачке">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="201"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ТипВходящейОписи">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="ОПИСЬ ПАЧКИ"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="СоставительПачки" type="ТипОрганизация"/>
			<xsd:element name="НомерПачки">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Основной" type="ТипНомерПачки"/>
						<xsd:element name="ПоПодразделению" type="ТипНомерПачки"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="СоставДокументов">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Количество">
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:enumeration value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="НаличиеДокументов">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ТипДокумента">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="СВЕДЕНИЯ_О_СУММЕ_ВЫПЛАТ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="Количество">
										<xsd:simpleType>
											<xsd:restriction base="xsd:positiveInteger">
												<xsd:maxInclusive value="201"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="Вариант" type="xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ДатаСоставления" type="ТипДата"/>
			<xsd:element name="ТипСведений" type="ТипТипСведенийСПВ"/>
			<xsd:element name="ОтчетныйПериод" type="ТипОтчетныйПериодСПВ2"/>
			<xsd:element name="КорректируемыйОтчетныйПериод" type="ТипОтчетныйПериодКорр" minOccurs="0"/>
			<xsd:element name="БазаДляНачисленияСтраховыхВзносовНеПревышающаяПредельную" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="СтраховыхВзносовОПС" type="ТипДеньги" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Тип ВхДок-->
	<xsd:complexType name="СВЕДЕНИЯ_О_СУММЕ_ВЫПЛАТ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ">
		<xsd:sequence>
			<xsd:element name="НомерВпачке">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="201"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ТипСведений" type="ТипТипСведенийСПВ"/>
			<xsd:element name="РегистрационныйНомер" type="ТипРегНомер"/>
			<xsd:element name="СтраховойНомер" type="ТипСтраховойНомер"/>
			<xsd:element name="ФИО" type="ТипФИО"/>
			<xsd:element name="СведенияОбУвольнении" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="УВОЛЕН"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ОтчетныйПериод" type="ТипОтчетныйПериодСПВ2"/>
			<xsd:element name="КорректируемыйОтчетныйПериод" type="ТипОтчетныйПериодСПВ2" minOccurs="0"/>
			<xsd:element name="РегистрационныйНомерКорректируемогоПериода" type="ТипРегНомер" minOccurs="0"/>
			<xsd:element name="СведенияОсуммеВыплатИвознагражденийВпользуЗЛ" type="СуммаВыплатИвознагражденийВпользуЗЛ" maxOccurs="unbounded"/>
			<xsd:element name="СуммаВзносовНаОПС" type="ТипДеньги" minOccurs="0"/>
			<xsd:element name="СведенияОкорректировках" type="СведенияОкорректировках" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="СведенияОсуммеВыплатИвознагражденийПоДопТарифу" type="СуммаВыплатИвознагражденийПоДопТарифу" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="СтажевыйПериод" type="ТипСтажевыйПериодРСВ" minOccurs="0" maxOccurs="99"/>
			<xsd:element name="ДатаЗаполнения" type="ТипДата"/>
			<xsd:element name="УчтеноПоКатегории" type="УчтеноПоКатегории" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ВходящийДокумент  -->
	<!-- ВходящийДокумент  -->
	<xsd:element name="ФайлПФР">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ИмяФайла" type="ТипИмяФайла"/>
				<xsd:element name="ЗаголовокФайла">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ВерсияФормата">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="07.00"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ТипФайла">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="ВНЕШНИЙ"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ПрограммаПодготовкиДанных">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="НазваниеПрограммы" type="Тип40"/>
										<xsd:element name="Версия">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:minLength value="1"/>
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ИсточникДанных">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="СТРАХОВАТЕЛЬ"/>
										<xsd:enumeration value="ТРАНСФЕР-АГЕНТ"/>
										<xsd:enumeration value="ОПФР-ЛИЧНО"/>
										<xsd:enumeration value="ОПФР-ПРОЧЕЕ"/>
										<xsd:enumeration value="НПФ"/>
										<xsd:enumeration value="ПФР"/>
										<xsd:enumeration value="ОРГАН_ЗАГС"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ПачкаВходящихДокументов">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="СВЕДЕНИЯ_ПО_ПАЧКЕ_ДОКУМЕНТОВ_РАЗДЕЛА_6" type="СВЕДЕНИЯ_ПО_ПАЧКЕ_ДОКУМЕНТОВ_РАЗДЕЛА_6"/>
							<xsd:choice>
								<xsd:element name="СВЕДЕНИЯ_О_СУММЕ_ВЫПЛАТ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ" type="СВЕДЕНИЯ_О_СУММЕ_ВЫПЛАТ_И_СТРАХОВОМ_СТАЖЕ_ЗЛ" maxOccurs="32766"/>
							</xsd:choice>
						</xsd:sequence>
						<xsd:attribute name="Окружение" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Единичный запрос"/>
									<xsd:enumeration value="В составе файла"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="Стадия" use="optional">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="До обработки"/>
									<xsd:enumeration value="После обработки"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
