PU/XML/Schemas/CheckPfr/РСВ2014.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Sauronix (Branch of the  Pension Fund of the Russian Federation on  Republic Bashkortostan) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="TypesData.xsd"/>
	<xsd:element name="‘айлѕ‘–">
		<xsd:annotation>
			<xsd:documentation> орневой элемент</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="»м€‘айла">
					<xsd:simpleType>
						<xsd:restriction base="“ип»м€‘айла"/>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="«аголовок‘айла">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="¬ерси€‘ормата" type="xsd:string" fixed="07.00"/>
							<xsd:element name="“ип‘айла" type="xsd:string" fixed="¬Ќ≈ЎЌ»…"/>
							<xsd:element name="ѕрограммаѕодготовкиƒанных">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Ќазваниеѕрограммы" type="“ип—трока40"/>
										<xsd:element name="¬ерси€">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:minLength value="1"/>
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="»сточникƒанных" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ѕачка¬ход€щихƒокументов">
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="–ј—„≈“_ѕќ_—“–ј’ќ¬џћ_¬«Ќќ—јћ_Ќј_ќѕ—_»_ќћ—_ѕЋј“≈Ћ№ў» јћ»_ѕ–ќ»«¬ќƒяў»ћ»_¬џѕЋј“џ_‘Ћ_2014">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Ќомер¬пачке" type="“ипЌомер¬ѕачке"/>
										<xsd:element name="–егистрационныйЌомерѕ‘–">
											<xsd:simpleType>
												<xsd:restriction base="“ип–егЌомер"/>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="Ќомер орректировки" type="“ипЌомер орректировки"/>
										<xsd:element name=" одќтчетногоѕериода" type="“ип одќтчетногоѕериода"/>
										<xsd:element name=" алендарный√од">
											<xsd:simpleType>
												<xsd:restriction base="xsd:gYear">
													<xsd:minInclusive value="2014"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="ѕрекращениеƒе€тельности" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
													<xsd:enumeration value="Ћ"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="“ип орректировки" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
													<xsd:enumeration value=""/>
													<xsd:enumeration value="1"/>
													<xsd:enumeration value="2"/>
													<xsd:enumeration value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:choice>
											<xsd:sequence>
												<xsd:element name="Ќаименованиеќрганизации" type="“ипЌаименованиеќрганизации"/>
												<xsd:element ref="»ЌЌсимвольный"/>
												<xsd:element name=" ѕѕ" minOccurs="0">
													<xsd:simpleType>
														<xsd:restriction base="—трока÷ифр">
															<xsd:length value="9"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:element>
											</xsd:sequence>
											<xsd:sequence>
												<xsd:element name="‘»ќфизическогоЋица" type="“ип‘»ќ"/>
												<xsd:element ref="»ЌЌсимвольный"/>
											</xsd:sequence>
										</xsd:choice>
										<xsd:element name=" одѕоќ ¬Ёƒ" type="“ип одѕоќ ¬Ёƒ"/>
										<xsd:element name="“елефон" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:minLength value="0"/>
													<xsd:maxLength value="14"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name=" оличество«Ћ" type="“ип оличество6"/>
										<xsd:element name="—реднесписочна€„исленность" type="“ип оличество6"/>
										<xsd:element name=" оличество—траниц">
											<xsd:simpleType>
												<xsd:restriction base="“ип оличество6">
													<xsd:minInclusive value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name=" оличествоЋистовѕриложени€" type="“ип оличество" minOccurs="0"/>
										<xsd:element name="–аздел1–асчетѕоЌачисленным”плаченным2014">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ќстаток«адолженностиЌаЌачало–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным»”плаченным—2014"/>
													<xsd:element name="Ќачислено—начала–асчетногоѕериода2014" type="“ипЌачислено—траховых¬зносов—Ќачала–асчетногоѕериода"/>
													<xsd:element name="ƒоначислено—начала–асчетногоѕериода2014всего" type="“ип–асчетѕоЌачисленным»”плаченным—2014" minOccurs="0"/>
													<xsd:element name="ƒоначислено—начала–асчетногоѕериода2014превышающие" type="“ипƒоначислено—траховых¬зносов—начала–асчетногоѕериода—суммѕревышающихЅазу" minOccurs="0"/>
													<xsd:element name="¬сего уплате2014" type="“ип–асчетѕоЌачисленным»”плаченным—2014"/>
													<xsd:element name="”плачено—начала–асчетногоѕериода2014" type="“ип”плачено—Ќачала–асчетногоѕериода"/>
													<xsd:element name="ќстаток«адолженностиЌа онец–асчетногоѕериода2014" type="“ип–асчетѕоЌачисленным»”плаченным—2014"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="–аздел2–асчетѕо“арифу»доп“арифу">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="–аздел_2_1" type="“ип–асчет—траховых¬зносовѕо“арифу2014" maxOccurs="99"/>
													<xsd:element name="–аздел_2_2" type="“ип–асчетЌачисленных—траховых¬зносовѕоƒополнительному“арифу—2014" minOccurs="0"/>
													<xsd:element name="–аздел_2_3" type="“ип–асчетЌачисленных—траховых¬зносовѕоƒополнительному“арифу—2014" minOccurs="0"/>
													<xsd:element name="–аздел_2_4" minOccurs="0" maxOccurs="99">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name=" одќсновани€–асчетаѕоƒоп“арифу">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:unsignedShort">
																			<xsd:enumeration value="1"/>
																			<xsd:enumeration value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="ќснование«аполнени€–аздела2_4">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:maxLength value="254"/>
																			<xsd:enumeration value="–≈«”Ћ№“ј“џ —ѕ≈÷ќ÷≈Ќ »"/>
																			<xsd:enumeration value="–≈«”Ћ№“ј“џ ј““≈—“ј÷»» –јЅќ„»’ ћ≈—“"/>
																			<xsd:enumeration value="–≈«”Ћ№“ј“џ —ѕ≈÷ќ÷≈Ќ » » –≈«”Ћ№“ј“џ ј““≈—“ј÷»» –јЅќ„»’ ћ≈—“"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="–асчетЌачисленныхѕо оду—пецќценки”“" maxOccurs="6">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name=" од—пециальнойќценки”словий“руда">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="4"/>
																						<xsd:minLength value="1"/>
																						<xsd:enumeration value="ќ4"/>
																						<xsd:enumeration value="¬3.4"/>
																						<xsd:enumeration value="¬3.3"/>
																						<xsd:enumeration value="¬3.2"/>
																						<xsd:enumeration value="¬3.1"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="–асчетЌачисленныхѕоƒоп“арифу" type="“ип–асчетЌачисленных—траховых¬зносовѕоƒополнительному“арифу—2014"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="–аздел_2_5" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="ѕереченьѕачек»сходных—веденийѕ”" minOccurs="0">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name=" оличествоѕачек" type="“ип оличество6"/>
																			<xsd:element name="—ведени€ќпачке»сходных" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Ќомерѕѕ" type="“ип оличество6"/>
																						<xsd:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌеѕревышающа€ѕредельную" type="ƒеньги"/>
																						<xsd:element name="—траховых¬зносовќѕ—" type="ƒеньги"/>
																						<xsd:element name=" оличество«Ћвѕачке" type="“ип оличество"/>
																						<xsd:element name="»м€‘айла" type="“ип»м€‘айла"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="»того—ведени€ѕоѕачкам">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌеѕревышающа€ѕредельную" type="ƒеньги"/>
																						<xsd:element name="—траховых¬зносовќѕ—" type="ƒеньги"/>
																						<xsd:element name=" оличество«Ћвѕачке" type="“ип оличество6"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="ѕереченьѕачек орректирующих—веденийѕ”" minOccurs="0">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name=" оличествоѕачек" type="“ип оличество6"/>
																			<xsd:element name="—ведени€ќпачке орректирующих" maxOccurs="unbounded">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Ќомерѕѕ" type="“ип оличество6"/>
																						<xsd:element name=" орректируемыйќтчетныйѕериод" type="“ипќтчетныйѕериод ор"/>
																						<xsd:element name="ƒоначислено—траховых¬зносовќѕ—" type="ƒеньги" nillable="true" minOccurs="0"/>
																						<xsd:element name="ƒоначисленоЌа—траховую„асть" type="ƒеньги" minOccurs="0"/>
																						<xsd:element name="ƒоначисленоЌаЌакопительную„асть" type="ƒеньги" minOccurs="0"/>
																						<xsd:element name=" оличество«Ћвѕачке" type="“ип оличество"/>
																						<xsd:element name="»м€‘айла" type="“ип»м€‘айла"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="»того—ведени€ѕоѕачкам орректирующих">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="ƒоначислено—траховых¬зносовќѕ—" type="ƒеньги" minOccurs="0"/>
																						<xsd:element name="ƒоначисленоЌа—траховую„асть" type="ƒеньги" minOccurs="0"/>
																						<xsd:element name="ƒоначисленоЌаЌакопительную„асть" type="ƒеньги" minOccurs="0"/>
																						<xsd:element name=" оличество«Ћвѕачке" type="“ип оличество6"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="–аздел3–асчетЌаѕравоѕрименени€ѕониженного“арифа2014" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="–аздел3_1_ƒл€ќбщественныхќрганизаций»нвалидов" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="„исленность„леновќрганизации" type="“ипѕоказатель„исленность"/>
																<xsd:element name="„исленность»нвалидов" type="“ипѕоказатель„исленность"/>
																<xsd:element name="”дельный¬ес„исленности" type="“ипѕоказатель”дельный¬ес"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="–аздел3_2_ƒл€ќрганизаций”ставный апитал—остоит»з¬кладовќбщќрг»нвалидов" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="—реднесписочна€„исленность" type="“ипѕоказатель„исленность"/>
																<xsd:element name="—реднесписочна€„исленность»нвалидов" type="“ипѕоказатель„исленность"/>
																<xsd:element name="”дельный¬ес„исленности" type="“ипѕоказатель”дельный¬ес"/>
																<xsd:element name="‘ондќплаты“руда" type="“ипѕоказатель–асчет—умм"/>
																<xsd:element name="«арплата»нвалидов" type="“ипѕоказатель–асчет—умм"/>
																<xsd:element name="”дельный¬ес«арплаты»нвалидов" type="“ипѕоказатель”дельный¬ес"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="–аздел3_3_ƒл€ќрганизаций»“" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="—уммаƒоходовѕоЌ всего" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
																<xsd:element name="—уммаƒоходов»“изЌих" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
																<xsd:element name="ƒол€ƒоходов»“" type="“ипƒол€ƒоходовѕо»тогамѕериодов"/>
																<xsd:element name="„исленность–аботников»“" type="“ип„исленность–аботниковѕо»тогамѕериодов"/>
																<xsd:element name="—ведени€»з–еестра»“" type="“ип—ведени€»з–еестра"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="–аздел3_4_ƒл€ќрганизаций—ћ»" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="—ведени€ѕо¬идуƒе€тельности" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Ќомерѕѕ" type="“ип оличество6"/>
																			<xsd:element name="Ќаименование¬идаЁƒ">
																				<xsd:simpleType>
																					<xsd:restriction base="xsd:string">
																						<xsd:maxLength value="250"/>
																						<xsd:minLength value="1"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name=" одѕоќ ¬Ёƒ" type="“ип одѕоќ ¬Ёƒ"/>
																			<xsd:element name="ƒоходыѕо¬идуЁƒ" type="ƒеньги"/>
																			<xsd:element name="ƒол€ƒоходовѕо¬идуЁƒ" type="„исло"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="»тогоѕо¬сем¬идамƒе€тельности" type="ƒеньги"/>
																<xsd:element name="—ведени€»з–еестра—ћ»" type="“ип—ведени€»з–еестра"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="–аздел3_5_ƒл€ќрганизацийѕримен€ющих”—Ќ" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="—уммаƒоходаѕо—татье346_15Ќ всего" type="“ип—уммаƒохода—Ќачалаќтчетногоѕериода"/>
																<xsd:element name="—уммаƒоходаѕо—татье58»зЌих" type="“ип—уммаƒохода—Ќачалаќтчетногоѕериода"/>
																<xsd:element name="ƒол€ƒоходаѕо—татье58">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name=" од—троки">
																				<xsd:simpleType>
																					<xsd:restriction base="“ип од—троки">
																						<xsd:enumeration value="363"/>
																					</xsd:restriction>
																				</xsd:simpleType>
																			</xsd:element>
																			<xsd:element name="ƒол€ƒохода" type="„исло"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="–аздел3_6_ƒл€Ќекоммерческихќрганизацийѕримен€ющих”—Ќ" minOccurs="0">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="—уммаƒоходов¬сего" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
																<xsd:element name="—уммаƒоходов¬виде÷елевыхѕоступлений" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
																<xsd:element name="—уммаƒоходов¬виде√рантов" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
																<xsd:element name="—уммаƒоходовќтќсуществлени€ќпределенных¬Ёƒ" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
																<xsd:element name="ƒол€ƒоходов" type="“ипƒол€ƒоходовѕо»тогамѕериодов"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="–аздел4—уммыƒоначисленных—траховых¬зносов2014" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="—уммаƒоначисленных¬зносов«аѕериодЌачина€—2014" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Ќомерѕѕ" type="“ип оличество6"/>
																<xsd:element name="ќснованиеƒл€ƒоначислени€">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:unsignedShort">
																			<xsd:totalDigits value="1"/>
																			<xsd:enumeration value="1"/>
																			<xsd:enumeration value="2"/>
																			<xsd:enumeration value="3"/>
																			<xsd:enumeration value="4"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name=" одќсновани€ƒл€ƒоп“арифа" minOccurs="0">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:unsignedShort">
																			<xsd:totalDigits value="1"/>
																			<xsd:enumeration value="1"/>
																			<xsd:enumeration value="2"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="√од">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:gYear"/>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="ћес€ц">
																	<xsd:simpleType>
																		<xsd:restriction base="xsd:string">
																			<xsd:pattern value="([1-9]|0[1-9]|1[0-2])"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="—уммаƒоначисленных¬зносовќѕ—2014всего" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—уммаƒоначисленных¬зносовќѕ—2014превыщающие" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—уммаƒоначисленных¬зносовЌа—траховую¬сего" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—уммаƒоначисленных¬зносовЌа—траховуюѕревышающие" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—уммаƒоначисленных¬зносовЌаЌакопительную" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„1" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„2" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„2_1" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—траховые¬зносыќћ—" type="ƒеньги" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="»тогоƒоначисленоЌачина€—2014">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="—уммаƒоначисленных¬зносовќѕ—2014всего" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—уммаƒоначисленных¬зносовќѕ—2014превыщающие" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—уммаƒоначисленных¬зносовЌа—траховую¬сего" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—уммаƒоначисленных¬зносовЌа—траховуюѕревышающие" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—уммаƒоначисленных¬зносовЌаЌакопительную" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„1" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„2" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—траховыхƒоначисленных¬зносовѕоƒоп“арифу„2_1" type="ƒеньги" minOccurs="0"/>
																<xsd:element name="—траховые¬зносыќћ—" type="ƒеньги" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="–аздел5—ведени€ќ¬ыплатах¬пользуќбучающихс€2014" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name=" оличествоќбучающихс€" type="“ип оличество6"/>
													<xsd:element name="—ведени€ќбќбучающемс€" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Ќомерѕѕ" type="“ип оличество6"/>
																<xsd:element name="‘»ќ" type="“ип‘»ќ"/>
																<xsd:element name="Ќомер—правкиќчленстве¬студќтр€де" type="“ипЌомер"/>
																<xsd:element name="ƒата¬ыдачи—правкиќчленстве¬студќтр€де" type="“ипƒата"/>
																<xsd:element name="Ќомер—правкиќбќчномќбучении" type="“ипЌомер"/>
																<xsd:element name="ƒата¬ыдачи—правкиќбќчномќбучении" type="“ипƒата"/>
																<xsd:element name="—уммы¬ыплат»вознаграждений" type="“ип–асчет—умм"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="»того¬ыплат" type="“ип–асчет—умм"/>
													<xsd:element name="—ведени€»з–еестраћƒќќ">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name=" од—троки">
																	<xsd:simpleType>
																		<xsd:restriction base="“ип од—троки">
																			<xsd:enumeration value="501"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element name="–еквизиты«аписи¬реестре" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="ƒата«аписи¬реестре" type="“ипƒата"/>
																			<xsd:element name="Ќомер«аписи¬реестре" type="“ипЌомер"/>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Ћицоѕодтверждающее—ведени€">
											<xsd:simpleType>
												<xsd:restriction base="xsd:unsignedShort">
													<xsd:totalDigits value="1"/>
													<xsd:enumeration value="1"/>
													<xsd:enumeration value="2"/>
													<xsd:enumeration value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="‘»ќлицаѕодтверждающего—ведени€" type="“ип‘»ќ"/>
										<xsd:element name="Ќаименованиеќрганизацииѕредставител€" type="“ипЌаименованиеќрганизации" minOccurs="0"/>
										<xsd:element name="ƒокументѕодтверждающийѕолномочи€ѕредставител€" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Ќаименование”достовер€ющего">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:minLength value="1"/>
																<xsd:maxLength value="80"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="—ери€–имские÷ифры" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="8"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="—ери€–усскиеЅуквы" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="8"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="Ќомер”достовер€ющего" minOccurs="0">
														<xsd:simpleType>
															<xsd:restriction base="—трока÷ифр">
																<xsd:maxLength value="8"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="ƒата¬ыдачи" type="“ипƒата"/>
													<xsd:element name=" ем¬ыдан">
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="80"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ƒата«аполнени€" type="“ипƒата"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
						<xsd:attribute name="ќкружение" use="required" fixed="≈диничный запрос">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="≈диничный запрос"/>
									<xsd:enumeration value="¬ составе файла"/>
									<xsd:enumeration value="¬ составе выписки"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="»ЌЌсимвольный">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="\d{10}|\d{12}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
