PU/XML/Schemas/CheckPfr/2015/Входящие/ТипыВХОДЯЩИЕ_ДОКУМЕНТЫ.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:include schemaLocation="../Типы.XSD"/>

	<xs:complexType name="ТипВходящийДокумент">
		<xs:annotation>
			<xs:documentation>Абстрактный блок «Входящий документ». Допустимые атрибуты блока Входящий документ: «Окружение», «Стадия». Данные атрибуты являются допустимыми также для всех расширений блока Входящий документ. Для файла входящих документов, представляемого страхователем, указание атрибутов блока Входящий документ, а также всех его расширений, не допускается.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НомерВпачке" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер в пачке. Используется только при значении атрибута «Стадия» = «До обработки»</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СистемныйНомер" type="ТипСистемныйНомер" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Системный номер входящий. Используется только при значении атрибута «Стадия» = «После обработки»</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="Состояние" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Состояние входящего документа.Используется только при значении атрибута «Стадия» = «После обработки». Отсутствуют при значении атрибута «Окружение» = «В составе Выписки»</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ЭтапОбработки">
							<xs:annotation>
								<xs:documentation>Этап обработки документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="НаличиеОшибок">
							<xs:annotation>
								<xs:documentation>Признак указывающий на наличие ошибок в документе</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:enumeration value="ПРАВИЛЬНЫЙ"/>
									<xs:enumeration value="ОШИБОЧНЫЙ"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ПереносМеждуУровнями">							
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ВсеОшибки" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Все ошибки. Используется только при значении атрибута «Стадия» = «После обработки». Отсутствуют при значении атрибута «Окружение» = «В составе Выписки»</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Количество" type="ТипКоличество">
							<xs:annotation>
								<xs:documentation>Количество ошибок</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Ошибка" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Сведения об ошибке</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="КодОшибки">										
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Строка">
										<xs:annotation>
											<xs:documentation>Номер строки</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ТекстОшибки">										
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="120"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ЗаверениеДокумента" minOccurs="0"> 
				<xs:annotation>
					<xs:documentation>Кем заверяется документ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
						<xs:enumeration value="ПФР"/>
						<xs:enumeration value="ВНЕШНИЙ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДокументОснование" type="ТипСистемныйНомер" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Системный номер входящий Документа-основания</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Окружение" use="optional">
			<xs:annotation>
				<xs:documentation>Для файлов, представляемых страхователями, допускается только значение «В составе файла»</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Единичный запрос"/>
					<xs:enumeration value="В составе файла"/>
					<xs:enumeration value="В составе выписки"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Стадия" use="optional">
			<xs:annotation>
				<xs:documentation>Для файлов, представляемых страхователями, допускается только значение «До обработки»</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="До обработки"/>
					<xs:enumeration value="После обработки"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ТипВХОДЯЩАЯ_ОПИСЬ">
		<xs:annotation>
			<xs:documentation>«Входящая опись» как расширение блока «Входящий документ». Отсутствует при значении атрибута «Окружение» = «Единичный запрос»</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ТипВходящийДокумент">
				<xs:sequence>
					<xs:element name="ТипВходящейОписи">						
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="50"/>
								<xs:enumeration value="ОПИСЬ ПАЧКИ"/>
								<xs:enumeration value="ОПИСЬ РАСПИСОК"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="СоставительПачки" type="ТипОрганизация">
						<xs:annotation>
							<xs:documentation>Сведения об организации сформировавшей пачку</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="НомерПачки" type="ТипНомерПачкиВнешний">
						<xs:annotation>
							<xs:documentation>Внешний номер пачки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="СоставДокументов" type="ТипСоставДокументов">
						<xs:annotation>
							<xs:documentation>Сведения о составе документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ДатаСоставления" type="ТипДата">
						<xs:annotation>
							<xs:documentation>Дата составления пачки документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>