PU/XML/Schemas/CheckXml/ВСЗЛ/РСВ/ТипыРСВ.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<xs:schema version="1.0" targetNamespace="http://schema.pfr.ru" elementFormDefault="qualified" xmlns="http://schema.pfr.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation xml:lang="ru">XML-подсхема дл€ проверки документов - “ипы данных –—¬</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../“ипы.XSD"/>

	<xs:simpleType name="“ип“ипѕодтверждающего">
		<xs:annotation>
			<xs:documentation>
				“ип лица, подтверждающего достоверность и полноту сведений: 1 Ц плательщик страховых взносов, 2 Ц представитель плательщика страховых взносов, 3 - ѕравопреемник (только дл€ –—¬-1 и –¬-3 2015 года))
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<!-- ѕлательщик -->
			<xs:enumeration value="1"/>
			<!-- ѕредставитель плательщика -->
			<xs:enumeration value="2"/>	
			<!-- ѕравопреемник (только дл€ –—¬-1 и –¬-3 2015 года) -->
			<xs:enumeration value="3"/>				
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="“ипѕодтверждение—ведений">
		<xs:annotation>
			<xs:documentation>—ведени€ о лице, подтверждающем достоверность и полноту сведений представленных в расчете: плательщик страховых взносов, уполномоченный представитель плательщика страховых взносов</xs:documentation>
		</xs:annotation>
		<xs:sequence>			
			<xs:element name="“ипѕодтверждающего" >
				<xs:annotation>
					<xs:documentation>“ип лица, подтверждающего достоверность и полноту сведений представленных в расчете: 1 Ц плательщик страховых взносов, 2 Ц представитель плательщика страховых взносов</xs:documentation>
				</xs:annotation>				
				<xs:simpleType>						
					<xs:restriction base="“ип“ипѕодтверждающего">
						<!-- ѕлательщик -->
						<xs:enumeration value="1"/>
						<!-- ѕредставитель плательщика -->
						<xs:enumeration value="2"/>											
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="‘»ќѕодтверждающего" type="“ип‘»ќ">
				<xs:annotation>
					<xs:documentation>‘»ќ главы  ‘’ в случае, если представитель - глава  ‘’, либо ‘»ќ представител€ главы  ‘’ в случае, если представитель - физическое лицо, либо ‘»ќ физического лица, уполномоченного в соответствии с документом, подтверждающим полномочи€ представител€ главы  ‘’, если представитель - юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ќаименованиеќрганизации" type="“ип»м€ќрг" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ќаименование организации, подтверждающей достоверность и полноту сведений в случае, если представитель - юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ƒоверенность" type="“ипƒоверенность" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ƒоверенность, подтверждающа€ полномочи€ представител€</xs:documentation>
				</xs:annotation>					
			</xs:element>
		</xs:sequence>
	</xs:complexType>	

	<xs:simpleType name="“ип онтактный“елефонЌ">
		<xs:annotation>
			<xs:documentation> онтактный телефон плательщика страховых взносов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">			
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="“ип онтактный“елефон">
		<xs:annotation>
			<xs:documentation> онтактный телефон плательщика страховых взносов</xs:documentation>
		</xs:annotation>		
		<xs:restriction base="“ип онтактный“елефонЌ">
			<xs:maxLength value="14"/>			
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="“ип–асчет—траховых¬зносовѕоƒоп“ар">
		<xs:sequence>
			<xs:element name="—умма¬ыплат»вознаграждений" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="Ќеѕодлежащиеќбложению" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="—умма–асходовѕринимаемых вычету" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="Ќачисленоѕоƒоп“арифу" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name=" оличество‘Ћѕо оторым—¬начисленыѕоƒоп“арифу" type="“ипѕоказатель„исленность"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным—траховым¬зносам">
		<xs:sequence>
			<xs:element name="ќстаток«адолженностиЌаЌачало–асчетногоѕериода" minOccurs="0" type="“ип–асчетѕоЌачисленным»уплаченным">
			</xs:element>
			<xs:element name="Ќачислено—начала–асчетногоѕериода" type="“ипЌачислено”плачено" minOccurs="1"/>
			<xs:element name="ƒоначислено—начала–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным" minOccurs="0"/>
			<xs:element name="¬сего уплате" type="“ип–асчетѕоЌачисленным»уплаченным" minOccurs="1"/>
			<xs:element name="”плачено—начала–асчетногоѕериода" type="“ипЌачислено”плачено" minOccurs="1"/>
			<xs:element name="ќстаток«адолженностиЌа онец–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет—траховых¬зносовѕо”становленному“арифу">
		<xs:sequence>
			<xs:element name=" од“арифа" type="“ип од”становленного“арифа"/>
			<xs:element name="–асчетѕо“арифу" type="“ип–асчетѕо“арифу"/>
			<xs:element name="Ќачислено—траховых¬зносовѕо“арифу" type="“ипЌачислено—траховых¬зносовѕо“арифу"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет—траховых¬зносовѕоѕониженному“арифу">
		<xs:sequence>
			<xs:element name="–асчетѕо¬ыплатам–аботникам»нвалидам" type="“ип–асчетѕо“арифу" minOccurs="0"/>
			<xs:element name="Ќачислено—траховых¬зносов¬пользу–аботников»нвалидов" type="“ипЌачислено—траховых¬зносовѕо“арифу" minOccurs="0"/>
			<xs:element name="–асчетѕо¬ыплатам–аботникам≈Ќ¬ƒ" type="“ип–асчетѕо“арифу" minOccurs="0"/>
			<xs:element name="Ќачислено—траховых¬зносов¬пользу–аботников≈Ќ¬ƒ" type="“ипЌачислено—траховых¬зносовѕо“арифу" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипќсновани€ƒл€ѕрименени€ѕониженного“арифа">
		<xs:sequence minOccurs="0">
			<xs:element name="—ведени€ƒл€ѕрименени€ѕониженного“арифа" type="“ип—ведени€ƒл€ѕрименени€ѕониженного“арифа" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониженного“арифа" type="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониженного“арифа" minOccurs="0"/>
				<xs:sequence maxOccurs="1" minOccurs="0">
					<xs:element name="–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониженного“арифаѕо—тать€м57и58" type="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониженного“арифа" minOccurs="0"/>
					<xs:element name="–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониженного“арифаѕо—татье57" minOccurs="0" type="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониженного“арифаѕо—татье57"/>
					<xs:element name="–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониж“арифаќтд атегори€миѕлательщиков”—Ќ" minOccurs="0" type="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониж“арифаќтд атегори€миѕлательщиков”—Ќ"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕо—траховым¬зносамЌачисленным»уплаченным">
		<xs:sequence>
			<xs:element name="ќстаток«адолженностиЌаЌачало–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным" minOccurs="0"/>
			<xs:element name="Ќачислено¬зносов—начала–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным" minOccurs="1"/>
			<xs:element name="ƒоначислено—начала–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным" minOccurs="0"/>
			<xs:element name="¬сего уплате" type="“ип–асчетѕоЌачисленным»уплаченным"/>
			<xs:element name="”плачено¬зносов—начала–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным"/>
			<xs:element name="ќстаток«адолженностиЌа онец–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипƒанныеƒл€–асчета—уммЌачисленных—траховых¬зносов">
		<xs:sequence>
			<xs:sequence maxOccurs="1" minOccurs="0">
				<xs:element name=" оличествоѕериодов" type="“ип оличество" minOccurs="0"/>
				<xs:element name="ѕериод»ндивидуальной“рудовойƒе€тельности" type="“ипѕериод»ндивидуальной“рудовойƒе€тельности" maxOccurs="99" minOccurs="0"/>
				<xs:element name=" оличество„ленов‘’" type="“ип„исло«Ћ" minOccurs="0"/>
				<xs:element name="–асчетЌачислений—траховых¬зносов«а„лена‘’" type="“ип–асчетЌачислений—траховых¬зносов«а„лена‘’" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="»тогоќѕ—страхова€„асть" type="“ипƒеньги" minOccurs="0"/>
				<xs:element name="»тогоќѕ—накопительна€„асть" type="“ипƒеньги" minOccurs="0"/>
				<xs:element name="»того—траховые¬зносы‘‘ќћ—" type="“ипƒеньги" minOccurs="0"/>
				<xs:element name="»того—траховые¬зносы“‘ќћ—" type="“ипƒеньги" minOccurs="0"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет¬зносов">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="—умма¬зноса" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипЌачислено”плачено¬зносовЋЁ¬—">
		<xs:sequence>
			<xs:element name="¬сего—начала–асчетногоѕериода" type="“ип–асчет¬зносов"/>
			<xs:element name="ѕоследние“рићес€ца1" type="“ип–асчет¬зносов"/>
			<xs:element name="ѕоследние“рићес€ца2" type="“ип–асчет¬зносов"/>
			<xs:element name="ѕоследние“рићес€ца3" type="“ип–асчет¬зносов"/>
			<xs:element name="ѕоследние“рићес€ца»того" type="“ип–асчет¬зносов"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипЌачислено”плачено¬зносов">
		<xs:sequence>
			<xs:element name="¬сего—начала–асчетногоѕериода" type="“ип–асчет¬зносов"/>
			<xs:element name="ѕоследние“рићес€ца1" type="“ип–асчет¬зносов"/>
			<xs:element name="ѕоследние“рићес€ца2" type="“ип–асчет¬зносов"/>
			<xs:element name="ѕоследние“рићес€ца3" type="“ип–асчет¬зносов"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным¬зносамЋЁ¬—">
		<xs:sequence>
			<xs:element name="ќстаток¬зносовЌаЌачало–асчетногоѕериода" minOccurs="0" type="“ип–асчет¬зносов">
			</xs:element>
			<xs:element name="Ќачислено—начала–асчетногоѕериода" type="“ипЌачислено”плачено¬зносовЋЁ¬—" minOccurs="1"/>
			<xs:element name="ƒоначислено—начала–асчетногоѕериода" type="“ип–асчет¬зносов" minOccurs="0"/>
			<xs:element name="¬сего уплате" type="“ип–асчет¬зносов" minOccurs="1"/>
			<xs:element name="”плачено—начала–асчетногоѕериода" type="“ипЌачислено”плачено¬зносовЋЁ¬—" minOccurs="1"/>
			<xs:element name="ќстаток¬зносовЌа онец–асчетногоѕериода" type="“ип–асчет¬зносов" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным¬зносам">
		<xs:sequence>
			<xs:element name="ќстаток¬зносовЌаЌачало–асчетногоѕериода" minOccurs="0" type="“ип–асчет¬зносов">
			</xs:element>
			<xs:element name="Ќачислено—начала–асчетногоѕериода" type="“ипЌачислено”плачено¬зносов" minOccurs="1"/>
			<xs:element name="»тогоѕоследние“рићес€ца" type="“ип–асчет¬зносов" minOccurs="0"/>
			<xs:element name="¬сего уплате—начала–асчетногоѕериода" type="“ип–асчет¬зносов" minOccurs="1"/>
			<xs:element name="”плачено—начала–асчетногоѕериода" type="“ипЌачислено”плачено¬зносов" minOccurs="1"/>
			<xs:element name="ќстаток¬зносовЌа онец–асчетногоѕериода" type="“ип–асчет¬зносов" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетЅазы">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="—умма¬сего—начала–асчетногоѕериода" type="“ипƒеньги"/>
			<xs:element name="—уммаѕоследние1мес€ц" type="“ипƒеньги"/>
			<xs:element name="—уммаѕоследние2мес€ц" type="“ипƒеньги"/>
			<xs:element name="—уммаѕоследние3мес€ц" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетЅазыƒл€Ќачислени€¬зносовЌаƒополнительное—оциальноеќбеспечение">
		<xs:sequence>
			<xs:element name="—умма¬ыплат»иных¬ознагражденийЌачисленных"/>
			<xs:element name="—уммыЌеѕодлежащиеќбложению—траховыми¬зносами"/>
			<xs:element name="Ѕазаƒл€Ќачислени€¬зносов"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип—ведени€ќзадолженностиѕо¬зносамѕоƒополнительному“арифуѕо—осто€ниюЌа31.12.2009">
		<xs:sequence>
			<xs:element name="ќстаток«адолженностиЌаЌачало–асчетногоѕериода" type="“ип–асчет¬зносов"/>
			<xs:element name="”плачено¬отчетномѕериоде" type="“ип–асчет¬зносов"/>
			<xs:element name="ќстаток«адолженностиЌа онец–асчетногоѕериода" type="“ип–асчет¬зносов"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="“ипЌомер орректировки">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ип одќтчетногоѕериода">
		<xs:restriction base="xs:string">
			<xs:enumeration value="03"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="12"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ип алендарный√од">
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="2010"/>
			<xs:maxInclusive value="2013"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ип–егистрационныйЌомер“‘ќћ—">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип одѕоќ ј“ќ">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип одѕоќ ¬Ёƒ">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:pattern value="\d{2}\.\d{2}\.\d{2}"/>
			<xs:pattern value="\d{2}\.\d{2}\.\d{1}"/>
			<xs:pattern value="\d{2}\.\d{2}"/>
			<xs:pattern value="\d{2}\.\d{1}"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип одѕоќ ѕќ">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип одѕоќ ќѕ‘">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="2"/>
			<xs:pattern value="\d{2}"/>
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="“ип одѕоќ ‘—">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="2"/>
			<xs:pattern value="\d{2}"/>
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ип одќ√–Ќ">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:pattern value="\d{13}"/>
			<xs:pattern value="\d{15}"/>
			<xs:pattern value="0"/>
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ип од”становленного“арифа">
		<xs:restriction base="xs:integer">
			<xs:pattern value="\d{2}"/>
			<xs:totalDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ипѕрекращениеƒе€тельности">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Ћ"/>			
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ип»ЌЌсимв">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\d{10}--"/>
			<xs:pattern value="\d{12}"/>
			<xs:pattern value="\d{10}"/>
			<xs:minLength value="10"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ип ѕѕсимв">
		<xs:restriction base="xs:normalizedString">
			<xs:length value="9"/>
			<xs:pattern value="\d{9}"/>
			<xs:pattern value="---------"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ипќ√–Ќсимв">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\d{13}\-\-"/>
			<xs:pattern value="---------------"/>
			<xs:pattern value="\d{13}"/>
			<xs:pattern value="\d{15}"/>
			<xs:minLength value="13"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ипƒол€ƒохода">
		<xs:restriction base="“ип”дельный¬ес"/>
	</xs:simpleType>

	<xs:simpleType name="“ип”дельный¬ес">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8"/>
			<xs:fractionDigits value="5"/>
			<xs:pattern value="\+?[0-9]+\.\d{5}"/>
			<xs:pattern value="\+?[0-9]+\.\d{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ипЌомерѕоѕор€дку">
		<xs:restriction base="xs:positiveInteger">
			<xs:totalDigits value="6"/>
			<xs:maxInclusive value="999999"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="“ипќ√–Ќ»ѕсимв">
		<xs:restriction base="xs:normalizedString">
			<xs:length value="15"/>
			<xs:pattern value="\d{15}"/>
			<xs:pattern value="---------------"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги"/>
			<xs:element name="—траховые¬зносы‘‘ќћ—" type="“ипƒеньги"/>
			<xs:element name="—траховые¬зносы“‘ќћ—" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным2012">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги"/>
			<xs:element name="—траховые¬зносыќћ—" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным2013">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги" minOccurs="1"/>
			<xs:element name="ќѕ—страхова€„астьѕоƒоп“ар1" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—страхова€„астьѕоƒоп“ар2" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="—траховые¬зносыќћ—" type="“ипƒеньги" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным2013–—¬2">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги" minOccurs="1"/>
			<xs:element name="—траховые¬зносыќћ—" type="“ипƒеньги" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным2013Ќ">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—страхова€„астьѕоƒоп“ар1" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—страхова€„астьѕоƒоп“ар2" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="—траховые¬зносыќћ—" type="“ипƒеньги" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕоЌачисленным»уплаченным«адолженность">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипѕоказатель”дельный¬ес">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки" minOccurs="1" maxOccurs="1"/>
			<xs:element name="”дельный¬ес_¬сего" type="“ип”дельный¬ес"/>
			<xs:element name="”дельный¬ес_1мес€ц" type="“ип”дельный¬ес" minOccurs="0"/>
			<xs:element name="”дельный¬ес_2мес€ц" type="“ип”дельный¬ес" minOccurs="0"/>
			<xs:element name="”дельный¬ес_3мес€ц" type="“ип”дельный¬ес" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипѕоказатель„исленность">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name=" оличество«Ћ_¬сего" type="“ип„исло«Ћ"/>
			<xs:element name=" оличество«Ћ_1мес€ц" type="“ип„исло«Ћ" minOccurs="0"/>
			<xs:element name=" оличество«Ћ_2мес€ц" type="“ип„исло«Ћ" minOccurs="0"/>
			<xs:element name=" оличество«Ћ_3мес€ц" type="“ип„исло«Ћ" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет—умм">
		<xs:sequence>
			<xs:element name="—умма¬сего—начала–асчетногоѕериода" type="“ипƒеньги"/>
			<xs:element name="—уммаѕоследние1мес€ц" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="—уммаѕоследние2мес€ц" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="—уммаѕоследние3мес€ц" type="“ипƒеньги" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипѕоказатель–асчет—умм">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="–асчет—умм" type="“ип–асчет—умм"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипЌачислено—траховых¬зносовѕо“арифу">
		<xs:sequence>
			<xs:element name="ЌачисленоЌаќѕ—страхова€" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="ЌачисленоЌаќѕ—накопительна€" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="Ќачислено‘‘ќћ—" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="Ќачислено“‘ќћ—" type="“ипѕоказатель–асчет—умм"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипЌачислено”плачено">
		<xs:sequence>
			<xs:element name="¬сего—начала–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным"/>
			<xs:element name="ѕоследние“рићес€ца1" type="“ип–асчетѕоЌачисленным»уплаченным"/>
			<xs:element name="ѕоследние“рићес€ца2" type="“ип–асчетѕоЌачисленным»уплаченным"/>
			<xs:element name="ѕоследние“рићес€ца3" type="“ип–асчетѕоЌачисленным»уплаченным"/>
			<xs:element name="ѕоследние“рићес€ца»того" type="“ип–асчетѕоЌачисленным»уплаченным"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипЌачислено”плачено2012">
		<xs:sequence>
			<xs:element name="¬сего—начала–асчетногоѕериода2012" type="“ип–асчетѕоЌачисленным»уплаченным2012"/>
			<xs:element name="ѕоследние“рићес€ца1с2012" type="“ип–асчетѕоЌачисленным»уплаченным2012"/>
			<xs:element name="ѕоследние“рићес€ца2с2012" type="“ип–асчетѕоЌачисленным»уплаченным2012"/>
			<xs:element name="ѕоследние“рићес€ца3с2012" type="“ип–асчетѕоЌачисленным»уплаченным2012"/>
			<xs:element name="ѕоследние“рићес€ца»того2012" type="“ип–асчетѕоЌачисленным»уплаченным2012"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипЌачислено”плачено2013">
		<xs:sequence>
			<xs:element name="¬сего—начала–асчетногоѕериода2013" type="“ип–асчетѕоЌачисленным»уплаченным2013"/>
			<xs:element name="ѕоследние“рићес€ца1с2013" type="“ип–асчетѕоЌачисленным»уплаченным2013"/>
			<xs:element name="ѕоследние“рићес€ца2с2013" type="“ип–асчетѕоЌачисленным»уплаченным2013"/>
			<xs:element name="ѕоследние“рићес€ца3с2013" type="“ип–асчетѕоЌачисленным»уплаченным2013"/>
			<xs:element name="ѕоследние“рићес€ца»того2013" type="“ип–асчетѕоЌачисленным»уплаченным2013"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетѕо“арифу">
		<xs:sequence>
			<xs:element name="¬ыплаты»вознаграждени€_¬сего" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="¬ыплаты»вознаграждени€_1966старше" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="¬ыплаты»вознаграждени€_1967моложе" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕо„1„2—т9_¬сего" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕо„1„2—т9_1966старше" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕо„1„2—т9_1967моложе" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕоѕ1„3—т9_1966старше" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕоѕ1„3—т9_1967моложе" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕо—т8_¬сего" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕо—т8_1966старше" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ќеѕодлежащиеќбложениюѕо—т8_1967моложе" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌаќѕ—_1966старше" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌаќѕ—_1967моложе" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
			<xs:element name="Ѕазаƒл€Ќачислени€—траховых¬зносовЌаќћ—" type="“ипѕоказатель–асчет—умм" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип—ведени€ƒл€ѕрименени€ѕониженного“арифа">
		<xs:sequence>
			<xs:element name=" оличество–аботников»нвалидов" type="“ип„исло«Ћ"/>
			<xs:element name="—ведени€ќработнике»нвалиде" type="“ип—ведени€ќработнике»нвалиде" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="»того¬ыплат" type="“ип–асчет—умм" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип—ведени€ƒл€ѕрименени€ѕониженного“арифа2013">
		<xs:sequence>
			<xs:element name=" оличество–аботников»нвалидов" type="“ип„исло«Ћ"/>
			<xs:element name="—ведени€ќработнике»нвалиде" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Ќомерѕѕ" type="“ипЌомерѕоѕор€дку"/>
						<xs:element name="‘»ќ" type="“ип‘»ќ"/>
						<xs:element name="—ведени€»з—правки" maxOccurs="5">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ƒата¬ыдачи—правки" type="“ипƒата"/>
									<xs:element name="ƒатаќкончани€ƒействи€" type="“ипƒатаЌ" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="—уммы¬ыплат»вознаграждений" type="“ип–асчет—умм"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="»того¬ыплат" type="“ип–асчет—умм" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип—ведени€ќработнике»нвалиде">
		<xs:sequence>
			<xs:element name="Ќомерѕѕ" type="“ипЌомерѕоѕор€дку"/>
			<xs:element name="‘»ќ" type="“ип‘»ќ"/>
			<xs:element name="ƒата¬ыдачи—правки" type="“ипƒата"/>
			<xs:element name="ƒатаќкончани€ƒействи€" type="“ипƒатаЌ" minOccurs="0"/>
			<xs:element name="—уммы¬ыплат»вознаграждений" type="“ип–асчет—умм"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипƒл€ќбщественныхќрганизаций»нвалидов">
		<xs:sequence>
			<xs:element name="„исленность„леновќрганизации" type="“ипѕоказатель„исленность"/>
			<xs:element name="„исленность»нвалидов" type="“ипѕоказатель„исленность"/>
			<xs:element name="”дельный¬ес„исленности" type="“ипѕоказатель”дельный¬ес"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипƒл€ќрганизаций”ставный апитал—остоит»з¬кладовќбщќрг»нвалидов">
		<xs:sequence>
			<xs:element name="—реднесписочна€„исленность" type="“ипѕоказатель„исленность"/>
			<xs:element name="—реднесписочна€„исленность»нвалидов" type="“ипѕоказатель„исленность"/>
			<xs:element name="”дельный¬ес„исленности" type="“ипѕоказатель”дельный¬ес"/>
			<xs:element name="‘ондќплаты“руда" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="«арплата»нвалидов" type="“ипѕоказатель–асчет—умм"/>
			<xs:element name="”дельный¬ес«арплаты»нвалидов" type="“ипѕоказатель”дельный¬ес"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипƒл€ќрганизаций»“">
		<xs:sequence>
			<xs:element name="—уммаƒоходовѕоЌ всего" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
			<xs:element name="—уммаƒоходов»“изЌих" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
			<xs:element name="ƒол€ƒоходов»“" type="“ипƒол€ƒоходовѕо»тогамѕериодов"/>
			<xs:element name="„исленность–аботников»“" type="“ип„исленность–аботниковѕо»тогамѕериодов"/>
			<xs:element name="—ведени€ќвыписке»з–еестра»“организаций" type="“ип—ведени€»з–еестра"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипƒл€ќрганизаций—ћ»">
		<xs:sequence>
			<xs:element name="—ведени€ѕо¬идуƒе€тельности" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Ќомерѕѕ" type="“ипЌомерѕоѕор€дку"/>
						<xs:element name="Ќаименование¬идаЁƒ">
							<xs:simpleType>
								<xs:restriction base="xs:normalizedString">
									<xs:maxLength value="250"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name=" одѕоќ ¬Ёƒ" type="“ип одѕоќ ¬Ёƒ"/>
						<xs:element name="ƒоходыѕо¬идуЁƒ" type="“ипƒеньги"/>
						<xs:element name="ƒол€ƒохода" type="“ипƒол€ƒохода"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="»тогоѕо¬сем¬идамƒе€тельности" type="“ипƒеньги"/>
			<xs:element name="—ведени€»з–еестра—ћ»" type="“ип—ведени€»з–еестра"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипƒл€Ќекоммерческихќрганизацийѕримен€ющих”—Ќ">
		<xs:sequence>
			<xs:element name="—уммаƒоходов¬сего" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
			<xs:element name="—уммаƒоходов¬виде÷елевыхѕоступлений" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
			<xs:element name="—уммаƒоходов¬виде√рантов" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
			<xs:element name="—уммаƒоходовќтќсуществлени€ќпределенных¬Ёƒ" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
			<xs:element name="ƒол€ƒоходов" type="“ипƒол€ƒоходовѕо»тогамѕериодов"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипƒл€ќрганизацийќказывающих»нжиниринговые”слуги">
		<xs:sequence>
			<xs:element name="—уммаƒоходовѕоЌ всего" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
			<xs:element name="—уммаƒоходовќт»нжиниринга»зЌих" type="“ип—уммаƒоходовѕо»тогамѕериодов"/>
			<xs:element name="ƒол€ƒоходов»нжиниринг" type="“ипƒол€ƒоходовѕо»тогамѕериодов"/>
			<xs:element name="—редн€€„исленность–аботников»нжиниринг" type="“ип„исленность–аботниковѕо»тогамѕериодов"/>
			<xs:element name="—ведени€ќполучении«аключени€ѕо“¬ќЁ«">
				<xs:complexType>
					<xs:sequence>
						<xs:element name=" од—троки" type="“ип од—троки"/>
						<xs:element name="ƒатаѕолучени€ѕолож«аключени€" type="“ипƒата"/>
						<xs:element name="Ќомер«аключени€" type="“ипЌомер"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониженного“арифа">
		<xs:sequence>
			<xs:element name="ƒл€ќбщественныхќрганизаций»нвалидов" type="“ипƒл€ќбщественныхќрганизаций»нвалидов" minOccurs="0"/>
			<xs:element name="ƒл€ќрганизаций”ставный апитал—остоит»з¬кладовќбщќрг»нвалидов" type="“ипƒл€ќрганизаций”ставный апитал—остоит»з¬кладовќбщќрг»нвалидов" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониженного“арифаѕо—татье57">
		<xs:sequence>
			<xs:element name="—уммаƒоходаѕо—татье248Ќ всего">
				<xs:complexType>
					<xs:sequence>
						<xs:element name=" од—троки" type="“ип од—троки"/>
						<xs:element name="—уммаƒохода" type="“ипƒеньги"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="—уммаƒоходаѕо—татье57»зЌих">
				<xs:complexType>
					<xs:sequence>
						<xs:element name=" од—троки" type="“ип од—троки"/>
						<xs:element name="—уммаƒохода" type="“ипƒеньги"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ƒол€ƒоходаѕо—татье57">
				<xs:complexType>
					<xs:sequence>
						<xs:element name=" од—троки" type="“ип од—троки"/>
						<xs:element name="ƒол€ƒохода" type="“ип”дельный¬ес"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="—редн€€„исленность–аботников">
				<xs:complexType>
					<xs:sequence>
						<xs:element name=" од—троки" type="“ип од—троки"/>
						<xs:element name=" оличество«Ћ" type="“ип„исло«Ћ"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="—ведени€ќвыписке»з–еестра»“организаций" type="“ип—ведени€»з–еестра">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониж“арифаќтд атегори€миѕлательщиков”—Ќ">
		<xs:sequence>
			<xs:element name="—уммаƒоходаѕо—татье346_15Ќ всего">
				<xs:complexType>
					<xs:sequence>
						<xs:element name=" од—троки" type="“ип од—троки"/>
						<xs:element name="—уммаƒохода" type="“ипƒеньги"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="—уммаƒоходаѕо—татье58»зЌих">
				<xs:complexType>
					<xs:sequence>
						<xs:element name=" од—троки" type="“ип од—троки"/>
						<xs:element name="—уммаƒохода" type="“ипƒеньги"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ƒол€ƒоходаѕо—татье58">
				<xs:complexType>
					<xs:sequence>
						<xs:element name=" од—троки" type="“ип од—троки"/>
						<xs:element name="ƒол€ƒохода" type="“ип”дельный¬ес"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипѕериод»ндивидуальной“рудовойƒе€тельности">
		<xs:sequence>
			<xs:element name="Ќомерѕѕ" type="“ипЌомерѕоѕор€дку"/>
			<xs:element name="ƒатаЌачалаѕериода" type="“ипƒата"/>
			<xs:element name="ƒата онцаѕериода" type="“ипƒата"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчетЌачислений—траховых¬зносов«а„лена‘’">
		<xs:sequence>
			<xs:element name="Ќомерѕѕ" type="“ипЌомерѕоѕор€дку"/>
			<xs:element name="‘»ќ" type="“ип‘»ќ"/>
			<xs:element name="—траховойЌомер" type="“ип—траховойЌомер"/>
			<xs:element name="√од–ождени€" type="“ип√од"/>
			<xs:element name="ƒатаЌачалаѕериода" type="“ипƒата"/>
			<xs:element name="ƒата онцаѕериода" type="“ипƒата"/>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги"/>
			<xs:element name="—траховые¬зносы‘‘ќћ—" type="“ипƒеньги"/>
			<xs:element name="—траховые¬зносы“‘ќћ—" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип—ведени€ќзадолженностиѕо—траховым¬зносамЌаќѕ—по—осто€ниюЌа31.12.2009">
		<xs:sequence>
			<xs:element name="ќстаток«адолженностиЌаЌачало–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным«адолженность" minOccurs="1"/>
			<xs:element name="”плачено¬отчетномѕериоде" type="“ип–асчетѕоЌачисленным»уплаченным«адолженность" minOccurs="1"/>
			<xs:element name="ќстаток«адолженностиЌа онец–асчетногоѕериода" type="“ип–асчетѕоЌачисленным»уплаченным«адолженность" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипЌЌсимв">
		<xs:sequence>
			<xs:element name="»ЌЌ" type="“ип»ЌЌсимв"/>
			<xs:element name=" ѕѕ" type="“ип ѕѕсимв"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип—уммаƒоходовѕо»тогамѕериодов">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="—уммаƒоходаѕоѕредшествующему" type="“ипƒеньги"/>
			<xs:element name="—уммаƒоходаѕо“екущему" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ипƒол€ƒоходовѕо»тогамѕериодов">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="ƒол€ƒоходаѕоѕредшествующему" type="“ипƒол€ƒохода"/>
			<xs:element name="ƒол€ƒоходаѕо“екущему" type="“ипƒол€ƒохода"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип„исленность–аботниковѕо»тогамѕериодов">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name=" оличество«Ћпоѕредшествующему" type="“ип„исло«Ћ"/>
			<xs:element name=" оличество«Ћпо“екущему" type="“ип„исло«Ћ"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип—ведени€»з–еестра">
		<xs:sequence>
			<xs:element name=" од—троки" type="“ип од—троки"/>
			<xs:element name="ƒата«аписи¬реестре" type="“ипƒата"/>
			<xs:element name="Ќомер«аписи¬реестре" type="“ипЌомер"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет—уммƒоначисленных—траховых¬зносов">
		<xs:sequence>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—страхова€„асть—вышеѕределаЅазы" type="“ипƒеньги"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—страхова€„астьѕоƒоп“ар1" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="ќѕ—страхова€„астьѕоƒоп“ар2" type="“ипƒеньги" minOccurs="0"/>
			<xs:element name="—траховые¬зносыќћ—" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="“ип–асчет—умм2013–—¬2">
		<xs:sequence>
			<xs:element name="ќѕ—страхова€„асть" type="“ипƒеньги"/>
			<xs:element name="ќѕ—накопительна€„асть" type="“ипƒеньги"/>
			<xs:element name="—траховые¬зносыќћ—" type="“ипƒеньги"/>
		</xs:sequence>
	</xs:complexType>

	<xs:group name="√р—уммы—траховых¬зносов">
		<xs:annotation>
			<xs:documentation>ѕоследовательность граф 3, 4, 5 и 6 раздела 1, граф 7, 8, 9 и 10 раздела 3 формы 2014 года и 8, 9, 10 и 11 раздела 3 формы 2015 года</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="—уммаќѕ—" type="“ипƒеньги" minOccurs="0">
				<xs:annotation>
					<xs:documentation>—траховые взносы на об€зательное пенсионное страхование за периоды начина€ с 2014 г.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—умма—„" type="“ипƒеньги" minOccurs="0">
				<xs:annotation>
					<xs:documentation>—траховые взносы на об€зательное пенсионное страхование за периоды 2010 - 2013 гг., страхова€ часть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—уммаЌ„" type="“ипƒеньги" minOccurs="0">
				<xs:annotation>
					<xs:documentation>—траховые взносы на об€зательное пенсионное страхование за периоды 2010 - 2013 гг., накопительна€ часть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—уммаќћ—" type="“ипƒеньги" minOccurs="0">
				<xs:annotation>
					<xs:documentation>—траховые взносы на об€зательное медицинское страхование</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="“ип–асчет—оответстви€”словийЌаѕравоѕрименени€ѕониж“арифа">
		<xs:sequence>
			<xs:element name="—уммаƒоходовѕоЌ всего" type="“ип—уммаƒоходовѕо»тогамѕериодов">
				<xs:annotation>
					<xs:documentation>—умма доходов по Ќалоговому  одексу, всего</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—уммаƒоходов»“изЌих" type="“ип—уммаƒоходовѕо»тогамѕериодов">
				<xs:annotation>
					<xs:documentation>из них сумма доходов »“</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ƒол€ƒоходов»“" type="“ипƒол€ƒоходовѕо»тогамѕериодов">
				<xs:annotation>
					<xs:documentation>ƒол€ доходов »“</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="„исленность–аботников»“" type="“ип„исленность–аботниковѕо»тогамѕериодов">
				<xs:annotation>
					<xs:documentation>—редн€€/ среднесписочна€ численность работников »“</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="—ведени€»з–еестра»“" type="“ип—ведени€»з–еестра">
				<xs:annotation>
					<xs:documentation>—ведени€ из реестра аккредитованных организаций, осуществл€ющих де€тельность в области информационных технологий</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>